{% from 'macros/card_frame.html' import card_frame %}


{% macro pack_picker(draft, user_id) %}
  {% set info = draft.info() %}

  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% set pack = info.next_pack(user_id)  %}
    {% if pack %}

      {% for card_id in pack['card_ids'] %}
        {% if info.can_be_seen(user_id, card_id) %}

          {% set card = info.card(card_id) %}
          {% set can_be_drafted = info.can_be_drafted(user_id, card_id) %}

          <div style="margin: 2px;">
            <a
              class="plain-link"
              {% if can_be_drafted %}
                href="{{ url_for('draft_v2_pack_pick', draft_id=draft.id, card_id=card_id) }}"
              {% endif %}
            >
              {{ card_frame(220, card_id, not can_be_drafted) }}
            </a>

            <!-- Add Scars Buttons -->
            {% if info.is_scar_round(user_id) %}
              {% for scar in info.scar_options(user_id) %}
                <a class="btn btn-secondary add-scar-btn" href="{{ url_for('card_editor', card_id=card_id, scar_id=scar.id) }}">
                  Add Scar {{ loop.index }}
                </a>
              {% endfor %}
            {% endif %}
            <!-- END: Add Scars Buttons -->
          </div>

        {% endif %}
      {% endfor %}

    {% else %}
      <h1 class="text-warn">Waiting for Pack</h1>
    {% endif %}
  </div>

{% endmacro %}
