{% from 'macros/card_frame.html' import card_frame %}


{% macro pack_picker(draft, user_id) %}
  {% set info = draft.info() %}
  {% set scars = info.scars(user_id) %}

  {% if scars %}
    <div class="framed mb-2">
      <div class="alert alert-success">
        <h3>Scarring Round</h3>
      </div>
      <p class="text-s">
        You will apply one of these scars to a card in the pack. After applying the scar, you will be able to pick a card from the pack. However, you cannot select the card you added the scar to.
      </p>
      {% for scar in scars %}
        <div class="mb-1" style="display: flex; flex-direction: row;">
          <div>
            <div class="badge badge-success">
              Scar {{ loop.index }}
            </div>
          </div>

          <div class="ml-2" style="display: flex; flex-direction: column;">
            <div>
              <span class="font-weight-bold">Text:</span>
              {{ scar.text }}
            </div>
            <div>
              <span class="font-weight-bold">Restrictions:</span>
              {{ scar.restrictions }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  {% endif %}


  <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% set pack = info.next_pack(user_id)  %}
    {% if pack %}

      {% for card_id in pack['card_ids'] %}
        {% if info.can_be_seen(user_id, card_id) %}

          {% set card = info.card(card_id) %}
          {% set can_be_drafted = info.can_be_drafted(user_id, card_id) %}

          <div style="margin: 2px;">
            <a
              class="plain-link"
              {% if can_be_drafted %}
                href="{{ url_for('draft_v2_pack_pick', draft_id=draft.id, card_id=card_id) }}"
              {% endif %}
            >
              {{ card_frame(220, card_id, not can_be_drafted) }}
            </a>

            <!-- Add Scars Buttons -->
            {% if scars %}
              <div class="mt-1">
              {% for scar in scars %}
                <a class="btn btn-secondary add-scar-btn" href="{{ url_for('card_editor', card_id=card_id, scar_id=scar.id) }}">
                  Add Scar {{ loop.index }}
                </a>
              {% endfor %}
              </div>
            {% endif %}
            <!-- END: Add Scars Buttons -->
          </div>

        {% endif %}
      {% endfor %}

    {% else %}
      <h1 class="text-warn">Waiting for Pack</h1>
    {% endif %}
  </div>

{% endmacro %}
