{% from 'macros/card_frame.html' import card_frame %}


{% macro rotisserie_picker(draft, user_id) %}
  {% set info = draft.info() %}

  <!-- Formatted Cards Table -->
  <div id="cards" class="row card-table mt-2">
    {% for col in draft.info().card_table(user_id).columns %}
      <div class="col table-column">
        <div class="table-column-header">
          {{ col.header }} ({{ col.num_cards() }})
        </div>

        {% for section in col.sections %}
          <div class="table-section {{ col.color_class }}">

            <div class="table-section-header">
              {{ section.header }} ({{ section.num_cards() }})
            </div>

            {% for card in section.cards %}
              {% set can_be_drafted = info.can_be_drafted(user_id, card) %}

              {% if card.section_divider == 'table-section-divider' %}
                <div class="card-list-divider">
                  <span class="bar"></span>
                  {% if card.cmc() < 10 %}
                    {% set cmc = card.cmc() %}
                  {% else %}
                    {% set cmc = 10 %}
                  {% endif %}

                  {% for n in range(cmc) %}
                    {% if (n % 5) == 4 %}
                      <span class="small-dot"></span>
                    {% else %}
                      <span class="tiny-dot"></span>
                    {% endif %}
                  {% endfor %}
                  <span class="bar"></span>
                </div>
              {% endif %}
              <p
                class="card-list-item
                       {% if not can_be_drafted %}
                       text-secondary
                       {% endif %}
                       "
                data-card-id="{{ card.id() }}"
                data-front="{{ card.image_front() }}"
                {% if card.image_back() %}
                  data-back="{{ card.image_back() }}"
                {% endif %}
              >
                {% if card.linked_achievements() %}
                  <i class="fab fa-font-awesome-flag"></i>
                {% endif %}
                {% if card.is_scarred() %}
                  <i class="fas fa-bolt"></i>
                {% endif %}

                {% if can_be_drafted and info.waiting(user_id) %}
                  <a href="{{ url_for('draft_v2_rotisserie_pick', draft_id=draft.id, card_id=card.id()) }}">
                {% endif %}

                {{ card.name() }}

                {% if can_be_drafted %}
                  </a>
                {% endif %}
              </p>
            {% endfor %}

          </div>
        {% endfor %}

      </div>
    {% endfor %}

  </div>
  <!-- END: Formatted Cards Table -->

  <script>
   document.addEventListener("DOMContentLoaded", function() {
     autocard_init('card-list-item', true)
     window.clo.card_data = {{ draft.info().card_data()|tojson }}
   })
  </script>
{% endmacro %}
