{% from 'macros/card_frame.html' import card_frame %}
{% from 'macros/card_frame.html' import empty_card_frame %}


{% macro rotisserie_picker(draft, user_id) %}
  {% set info = draft.info() %}

  <!-- Formatted Cards Table -->
  <div id="cards" class="row card-table mt-2">
    {% for col in draft.info().card_table(user_id).columns %}
      <div class="col table-column">
        <div class="table-column-header">
          {{ col.header }} ({{ col.num_cards() }})
        </div>

        {% for section in col.sections %}
          <div class="table-section {{ col.color_class }}">

            <div class="table-section-header">
              {{ section.header }} ({{ section.num_cards() }})
            </div>

            {% for card in section.cards %}
              {% set can_be_drafted = info.can_be_drafted(user_id, card) %}

              {% if card.section_divider == 'table-section-divider' %}
                <div class="card-list-divider">
                  <span class="bar"></span>
                  {% if card.cmc() < 10 %}
                    {% set cmc = card.cmc() %}
                  {% else %}
                    {% set cmc = 10 %}
                  {% endif %}

                  {% for n in range(cmc) %}
                    {% if (n % 5) == 4 %}
                      <span class="small-dot"></span>
                    {% else %}
                      <span class="tiny-dot"></span>
                    {% endif %}
                  {% endfor %}
                  <span class="bar"></span>
                </div>
              {% endif %}
              <p
                class="card-list-item"
                {% if not can_be_drafted %}
                  style="color: #ccc;"
                {% endif %}
                data-card-id="{{ card.id() }}"
                data-front="{{ card.image_front() }}"
                {% if card.image_back() %}
                  data-back="{{ card.image_back() }}"
                {% endif %}
              >
                {% if card.linked_achievements() %}
                  <i class="fab fa-font-awesome-flag"></i>
                {% endif %}
                {% if card.is_scarred() %}
                  <i class="fas fa-bolt"></i>
                {% endif %}

                {{ card.name() }}
              </p>
            {% endfor %}

          </div>
        {% endfor %}

      </div>
    {% endfor %}

  </div>
  <!-- END: Formatted Cards Table -->

  <!-- Confirmation Modal -->
  <div class="modal fade" id="rotisserie-confirmation-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Pick this card?</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div id="rotisserie-confirmation-card-frame" class="modal-body">
          {{ empty_card_frame(220) }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">nope</button>
          <a id="rotisserie-confirmation-link" href="" class="btn btn-primary">gimme</a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Confirmation Modal -->


  <script>

   document.addEventListener("DOMContentLoaded", function() {
     window.clo.card_data = {{ draft.info().card_data()|tojson }};
     autocard_init('card-list-item', true)

     $('.card-list-item').click(function() {
       const card_id = $(this).data('card-id')
       const card_data = window.clo.card_data[card_id]

       clo.util.draw_card_frame(
         $('#rotisserie-confirmation-card-frame').find('.closeup-card-wrapper'),
         card_data,
       )

       const link = "{{ url_for('draft_v2_rotisserie_pick', draft_id=draft.id, card_id="") }}" + card_id
       $('#rotisserie-confirmation-link').attr('href', link)

       $('#rotisserie-confirmation-modal').modal('show')
     })
   })
  </script>
{% endmacro %}
