:root {
  --card-white: #ffffeb;
  --card-blue: #d4edff;
  --card-black: #d6cbd6;
  --card-red: #fec8c8;
  --card-green: #e9ffd4;
  --card-gold: #fcf8a9;
  --card-colorless: #e9e7eb;
  --card-land: #ffe0c0;

  --table-header: #f8f9fa;
}

.white {
  background-color: var(--card-white);
}

.blue {
  background-color: var(--card-blue);    
}

.black {
  background-color: var(--card-black);    
}

.red {
  background-color: var(--card-red);    
}

.green {
  background-color: var(--card-green);    
}

.gold {
  background-color: var(--card-gold);    
}

.colorless {
  background-color: var(--card-colorless);    
}

.land {
  background-color: var(--card-land);    
}

.text-xs {
  font-size: .6rem!important;
}

.framed {
  background-color: var(--light);
  border: 1px solid #dee2e6!important;
  border-color: var(--secondard);
  border-radius: .25rem;
  padding: .5rem!important;
}

.card-frame {
  margin: .25rem!important;
  max-width: 220px;
  font-size: .8rem;
}

.card-table {
  min-width: 1000px;
}

.card-table .col {
  padding: 2px;
}

.table-column-header {
  text-align: center;
}

.table-section {
  border: 1px solid;
  border-color: var(--dark);
  margin-top: 4px;
}

.table-section ul {
  list-style-type: none;
  margin: 2px;
  padding: 0;
  font-size: .8em;
}

.table-section-header {
  text-align: center;
  background-color: var(--table-header);
}

.card-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-list-item a {
  color: inherit;
  text-decoration: inherit;
}
