:root {
  --not-as-light: #eeeff0;
}

.game-frame {
  background-color: var(--light);
  border: 1px solid #dee2e6!important;
  border-color: var(--secondary);
  border-radius: .25rem;
  padding: .5rem!important;
  margin-top: .25rem!important;
  /* margin-left: .25rem!important;
     margin-right: .25rem!important; */
}

#actions-zone {
  background-color: var(--not-as-light);
}

.inner-frames {
  padding: 0!important;
  margin: 0!important;
}

.inner-frames .game-frame {
  /* margin: .25rem!important; */
}

.tableau {
  padding: 0!important;
  font-size: .8rem;
}

#game-phase p {
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.current-phase {
  font-weight: bold;
  color: black!important;
}

.card-section-header {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.card-mana-cost {
  float: right;
  font-size: .7rem;
}

.card-annotation {
  font-style: italic;
  font-size: .7rem;
  color: #456781!important;
  margin-top: -.3rem!important;
  margin-left: .2rem!important;
}

.card-zone i.ms {
  padding-top: .1em;
}

.scar-symbol {
  float: left;
  margin-top: .25rem!important;
}

.tapped {
  font-style: italic;
  color: #a8a9aa;
}

.card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 10px;
}

.card-list-item, .card-section-info {
  padding: 0;
  margin: 0;
}

.card-list-item p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sortable-highlight {
  border: 1px solid blue;
  background-color: lightblue;
}

.card-list-count {
  font-weight: normal;
  color: var(--gray);
}

.face-down,
.not-visible {
  font-weight: lighter;
}

.not-visible .scar-symbol {
  display: none;
}

.not-visible-icon {
  margin-right: .2rem;
  color: #3c3019;
  background-color: #8b5625;
}

.revealed-icon {
  color: #bbb;
  margin-right: .2rem;
}

.card-zone,
.player-info {
  position: relative;
}

.library-divider {
  font-size: .6rem;
  color: var(--secondary);
  padding: 0;
  margin: 0;
}

.zone-menu {
  position: absolute;
  padding: .5rem .25rem;
  top: 0;
  right: 0;
}

.zone-menu-inner {
  position: relative;
}

.zone-menu-icon {
  color: var(--secondary);
  margin-top: .25rem;
}

.zone-menu-icon:hover, .zone-menu-icon:focus {
  background-color: var(--info);
}

.history-save-point {
  border-bottom: 1px solid #ddd;
}

.player-turn {
  background-color: var(--not-as-light);
}

.player-priority {
  background-color: #fef;
}

/********************************************************************************
  Message Zone
 ********************************************************************************/

#message-zone {
  position: relative;
}

#messages {
  position: absolute;
  top: 0;
  left: 0;
  padding: .25rem;
  width: 100%;
  height: 93%;
  overflow-y: scroll;
  padding: 0;
  marging: 0;
  counter-reset: message-counter;
  list-style: none;
}

#message-input-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
}

.message {
  font-size: .8rem;
  padding: 0;
  margin: 0;
  counter-increment: message-counter;
}

.message-player-name {
  font-weight: bold;
}

.message-card-name {
  color: #773333;
  font-weight: bold;
}

.message-player-typed {
  color: #3b3;
}

.message::before {
  content: counter(message-counter) ". ";
  color: #ddd;
}

.phase-message {
  font-size: .95rem;
  font-weight: bold;
  background-color: #88b;
}

.new-turn-message {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: var(--primary);
}

.pass-priority-message {
  background-color: #eef;
}

.future-message {
  font-style: italic;
  font-weight: lighter;
}


/********************************************************************************
   Popup Menus
 ********************************************************************************/

.popup-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 50;
  padding: .5rem;
}

.popup-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popup-menu li:hover {
  background-color: #d1d1d1;
}


/********************************************************************************
   Token Maker
 ********************************************************************************/

#token-maker {
  position: fixed;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

  font-size: .8rem;

  width: 18rem;

  top: 50px;
  left: 200px;

  padding: 0.5rem;
}


/********************************************************************************
   Popup Views
 ********************************************************************************/

#popup-viewer-zone {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  font-size: .8rem;
  height: 400px;
  left: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
  position: fixed;
  top: 100px;
  width: 150px;
}


/********************************************************************************
   Card Closeup
 ********************************************************************************/



#card-closeup {
  position: fixed;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

  font-size: .8rem;

  height: 4rem;
  width: 18rem;

  top: 50px;
  left: 50px;

  padding: 0.5rem;
}

.card-closeup-annotation {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);

  font-size: .8rem;

  height: 4.5rem;
  width: 18rem;

  margin-top: -2rem!important;
  margin-left: -.5rem!important;

  padding: 0.5rem;

  display: flex;
  flex-direction: column-reverse;
}

.card-closeup-annotation-input {
  height: 1.5rem;
  font-size: .8rem;
}
