{% from 'macros/card_frame.html' import card_frame %}


{% macro show_card_diff(card) %}
  {% set card = card|cube_cardify %}
  <ul class="list-unstyled mt-0">
    {% for face in [0, 1] %}
      {% for line in card.differ().face(face).summary() %}
        <li class="
                   {% if line.startswith('+ ') %}
                   text-success
                   {% elif line.startswith('- ') %}
                   text-danger
                   {% elif line.startswith('. ') %}
                   text-success
                   {% endif %}
                   "
        >{{ line }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endmacro %}


{% macro show_draft_card_list(cards, draft_id) %}
  <div class="row">
    {% set is_legacy = cards[0].draft.cube.style_a == 'legacy' %}
    {% for card in cards if card.pack.can_be_seen(card) %}
      {% set can_be_drafted = card.pack.can_be_drafted(card) %}
      {% set face_up_optional = card.cube_card.draft_face_up().name == 'optional' %}

      {% if is_legacy %}
        <div style="margin: 2px;">
        {{ card_frame(220, card.cube_card.id) }}
      {% else %}

          <div class="col framed framed-card">
            <!-- Card Image (and draft link) -->
            <p class="mb-0">

              <a
                {% if face_up_optional %}
                  href="#draftFaceUpModal"
                  data-toggle="modal"
                  data-card-name="{{ card.cube_card.name() }}"
                  data-card-id="{{ card.id }}"
                {% elif can_be_drafted %}
                  href="/draft/{{draft_id}}/pick/{{card.id}}"
                {% endif %}
              >

                {% for image_url in card.cube_card.image_urls() %}
                  <img
                    style="max-width:200px
                           {% if not can_be_drafted %}
                           ;opacity:0.5
                           {% endif %}
                           "
                    src="{{image_url}}"
                    alt="{{card.cube_card.name()}}">
                {% endfor %}
              </a>
            </p>
            <!-- END: Card Image (and draft link) -->

            {{ show_card_diff(card) }}

        {% endif %}

        <!-- Linked Achievements -->
        {% if card.cube_card.linked_achievements() %}
          <div class="ml-1 text-muted text-xs">
            Linked Achievements
          </div>
        {% endif %}
        {% for ach in card.cube_card.linked_achievements() %}
          <div class="linked-achievement text-secondary border-top">
            {{ ach.conditions }}
          </div>
        {% endfor %}

        <!-- Add Scars Buttons -->
        {% if draft_id and card.pack.is_scarring_round %}
          {% for scar in card.pack.scar_options() %}
            <a class="btn btn-secondary add-scar-btn" href="{{ url_for('card_editor', card_id=card.cube_card.id, scar_id=scar.id) }}">
              Add Scar {{ loop.index }}
            </a>
          {% endfor %}
        {% endif %}
        <!-- END: Add Scars Buttons -->
      </div>
    {% endfor %}
  </div>
{% endmacro %}


{% macro show_card_list(cards) %}
  <div class="row ">
    {% for card in cards|sort(attribute='picked_at', reverse=True) %}
      {% set card = card|cube_cardify %}
      <div class="framed framed-card">
        <!-- Card Image (and draft link) -->
        <p>
          {% for image_url in card.image_urls() %}
            <img
              style="max-width:200px"
              src="{{image_url}}"
              alt="{{card.name()}}">
          {% endfor %}
        </p>
        <!-- END: Card Image (and draft link) -->

        {{ show_card_diff(card) }}

        <!-- Linked Achievements -->
        {% if card.linked_achievements() %}
          <div class="ml-1 text-muted text-xs">
            Linked Achievements
          </div>
        {% endif %}
        {% for ach in card.linked_achievements() %}
          <div class="linked-achievement text-secondary border-top">
            {{ ach.conditions }}
          </div>
        {% endfor %}

      </div>
    {% endfor %}
  </div>
{% endmacro %}
