{% macro empty_card_face(size, face_name) %}
  <div class="card-container card-container-{{ size }}px closeup-{{ face_name }}">
    <div class="card-border">
      <div class="card-background">
        <div class="card-frame">

          <div class="frame-header frame-foreground">
            <div class="frame-card-name"></div>

            <div class="frame-mana-cost">
            </div>
          </div>

          <img
            class="frame-art"
            alt="card art"
            src="">

          <div class="frame-type-line frame-foreground">
            <div class="frame-card-type"></div>
          </div>

          <div class="frame-text-box">
            <div class="frame-description-wrapper">
              <p class="frame-description"></p>
            </div>

            <div class="frame-flavor-wrapper">
              <p class="frame-flavor-text"></p>
            </div>
          </div>

          <div class="frame-pt-loyalty frame-foreground">
          </div>

        </div> <!-- frame -->
      </div> <!-- background -->
    </div> <!-- border -->
  </div> <!-- container -->

{% endmacro %}


{% macro empty_card_frame(size) %}
  <div class="closeup-card-wrapper">
    <div class="card-inner-wrapper">
      {{ empty_card_face(size, 'front') }}
      {{ empty_card_face(size, 'back') }}
    </div>

    <div class="card-wrapper-overlay {% if not grayed_out %}d-none{% endif %}">
    </div>
  </div>
{% endmacro %}


{% macro card_frame(size, card_id, grayed_out) %}
  <div class="closeup-card-wrapper" data-card-id="{{ card_id }}">
    <div class="card-inner-wrapper">
      {{ empty_card_face(size, 'front') }}
      {{ empty_card_face(size, 'back') }}
    </div>

    <div class="card-wrapper-overlay {% if not grayed_out %}d-none{% endif %}">
    </div>
  </div>
{% endmacro %}
