{% macro card_list_item(card, is_legacy) %}
  {% if card.is_land() %}
    {% set card_class = 'card-type-land' %}
  {% endif %}

  <li
    class="card-list-item {{ card_class }}"
    data-card-id="{{ card.id }}"
    data-front="{{ card.image_front() }}"
    {% if card.image_back() %}
      data-back="{{ card.image_back() }}"
    {% endif %}
  >
    {% if is_legacy %}
      {# Linked Achievements Icon #}
      {% if card.linked_achievements() %}
        <i class="fab fa-font-awesome-flag"></i>
      {% endif %}

      {# Scars Icon #}
      {% if card.get_diff()['is_major'] %}
        <i class="fas fa-bolt"></i>
      {% elif card.get_diff()['is_minor'] %}
        <i class="fas fa-bolt text-muted"></i>
      {% endif %}
    {% endif %}

    {{ card.name() }}
  </li>
{% endmacro %}


{% macro deck_builder_row(id, class, cards) %}
  {# id: used to update the card counts by deck_builder.js #}
  {% set is_legacy = cards|length > 0 and cards.wrappers[0].card.cube.style_a == 'legacy' %}
  <div>
    Hello
    {{ cards|length > 0 }}
    {{ is_legacy }}
  </div>

  <div id="{{ id }}" class="row deckbuilder-row {{ class }}-row">
    {% for cmc in range(8) %}

      {# Cards under this header #}
      {% if cmc == 7 %}
        {% set cards = cards.cmc_gte(7) %}
        {% set cmc_string = '7+' %}
      {% else %}
        {% set cards = cards.cmc(cmc) %}
        {% set cmc_string = cmc|string %}
      {% endif %}

      <div class="col deckbuilder-col">
        <div class="m-0 border bg-light rounded">
          <div class="text-center">
            <p class="deckbuilder-col-header">{{ cmc_string }}</p>
          </div>
          <ul class="card-list sortable list-unstyled">
            {% for card in cards %}
              {{ card_list_item(card, is_legacy) }}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro deck_builder(d) %}
  <div class="mt-2 pb-2 rounded border" style="background-color: #f5f5ff">
    <div
      style="display:none"
      data-save-url="{{ url_for('draft_deck_save', draft_id=d.draft.id) }}"
      id="saveMeta">
    </div>

    <div class="row" id="deckbuilderInfo">
      <div class="col col-4 framed">
        <h4>Deck Builder</h4>
        <p>{{ d.deck.name }}</p>


        <p class="text-secondary ml-2 mb-0 border-bottom">Deck Actions</p>
        <ul class="list-unstyled">
          <li>
            <a href="#" id="saveLink">
              save
            </a>
          </li>

          <li>
            <a href="#add-cards-modal" data-toggle="modal">
              add cards
            </a>
          </li>

        </ul>
      </div>

      <!-- Card Counts -->
      <div class="col col-2 framed">
        <h5>Card Counts</h5>
        <ul class="list-unstyled">
          <li>
            Total:
            <span id="countMaindeck"></span>
          </li>
          <li>
            Creatures:
            <span id="countCreatures"</span>
          </li>
          <li>
            Others:

            <span id="countOther"</span>
          </li>
          <li>
            Lands:
            <span id="countLands"</span>
          </li>
        </ul>
      </div>
      <!-- END: Card Counts -->


      <!-- Basic Lands -->

      <div class="col col-2 framed">
        <h5>Basic Lands</h5>

        {% for basic in ['Forest', 'Island', 'Mountain', 'Plains', 'Swamp', 'Wastes'] %}
          <div class="basic-selector">
            <i class="far fa-plus-square basic-adjust basic-add"></i>
            <i class="far fa-minus-square basic-adjust basic-remove"></i>
            <span class="basic-type">{{ basic }}</span>
            ...
            <span class="basic-count">{{ d.basics(basic) }}</span>
          </div>
        {% endfor %}

      </div>
      <!-- END: Basic Lands -->

      <div id="command" class="col col-2 framed">
        <h5>Command Zone</h5>
        <ul class="card-list sortable list-unstyled">
          {% set is_legacy = d.is_legacy() %}
          {% for card in d.card_set.command() %}
            {{ card_list_item(card, is_legacy) }}
          {% endfor %}
        </ul>
      </div>

    </div>

    <div id="maindeck">
      <h5 class="mb-0 mt-2">Main Deck</h5>
      {{ deck_builder_row('maindeckCreatures', 'creature', d.card_set.maindeck().creatures()) }}
      {{ deck_builder_row('maindeckOther', 'other', d.card_set.maindeck().non_creature()) }}
    </div>

    <div id="sideboard">
      <h5 class="mb-0 mt-2">Sideboard</h5>
      {{ deck_builder_row('sideboardCreatures', 'creature', d.card_set.sideboard().creatures()) }}
      {{ deck_builder_row('sideboardOther', 'other', d.card_set.sideboard().non_creature()) }}
    </div>
  </div>


  <div class="modal fade" id="add-cards-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Add Cards to Deck</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="" method="post" id="addCardsForm" novalidate>
            <div class="form-group">
              <label for="add-card-names">card names/ids (1 per line)</label>
              <textarea class="form-control" id="add-card-names" name="add-card-names"></textarea>
            </div>

            <div class="form-group">
              <input type="checkbox" name="add-by-id" id="add-by-id">
              <label for="add-by-id">add by id</label>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" type="button" id="add-cards-submit">Add Cards</button>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Add Cards Modal -->

  <script>
   document.addEventListener("DOMContentLoaded", function(event) {
     $('#add-cards-submit').click(function () {
       const request_data = {
         by_id: $('#add-by-id').prop("checked"),
         card_names: $('#add-card-names').val().split('\n'),
       }

       $.ajax({
         type: "POST",
         url: "{{ url_for('draft_deck_add_cards', draft_id=d.draft.id) }}",
         contentType: "application/json; charset=utf-8",
         data: JSON.stringify(request_data),
         success: function (data) {
           location.reload()
         },
       })
     })
   })
  </script>
{% endmacro %}
