{% macro card_list_item(card, is_legacy) %}
  {% if card.is_land() %}
    {% set card_class = 'card-type-land' %}
  {% endif %}

  <li
    class="card-list-item {{ card_class }}"
    data-card-id="{{ card.id }}"
    data-front="{{ card.image_front() }}"
    {% if card.image_back() %}
      data-back="{{ card.image_back() }}"
    {% endif %}
  >
    {% if is_legacy %}
      <div class="card-mana-cost" style="float: right; font-size: .6rem;">
        {{ card.card_face(0)['mana_cost'] }}
      </div>

      {# Linked Achievements Icon #}
      {% if card.linked_achievements() %}
        <i class="fab fa-font-awesome-flag"></i>
      {% endif %}

      {# Scars Icon #}
      {% if card.get_diff()['is_major'] %}
        <i class="fas fa-bolt"></i>
      {% elif card.get_diff()['is_minor'] %}
        <i class="fas fa-bolt text-muted"></i>
      {% endif %}
    {% endif %}

    {{ card.name() }}
  </li>
{% endmacro %}


{% macro deck_builder_row(id, class, cards) %}
  {# id: used to update the card counts by deck_builder.js #}
  {% set is_legacy = cards|length > 0 and cards.wrappers[0].card.cube.style_a == 'legacy' %}

  <div id="{{ id }}" class="row deckbuilder-row {{ class }}-row">
    {% for cmc in range(8) %}

      {# Cards under this header #}
      {% if cmc == 7 %}
        {% set cards = cards.cmc_gte(7) %}
        {% set cmc_string = '7+' %}
      {% else %}
        {% set cards = cards.cmc(cmc) %}
        {% set cmc_string = cmc|string %}
      {% endif %}

      <div class="col deckbuilder-col">
        <div class="m-0 border bg-light rounded">
          <div class="text-center">
            <p class="deckbuilder-col-header">{{ cmc_string }}</p>
          </div>
          <ul class="card-list sortable list-unstyled">
            {% for card in cards %}
              {{ card_list_item(card, is_legacy) }}
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro deck_builder(d) %}
  <div class="deck-builder">
    <div
      style="display:none"
      data-save-url="{{ url_for('draft_deck_save', draft_id=d.draft.id) }}"
      id="saveMeta">
    </div>

    <div class="row" id="deckbuilderInfo">
      <div class="col col-4 framed">
        <h4>Deck Builder</h4>
        <p>{{ d.deck.name }}</p>


        <p class="text-secondary ml-2 mb-0 border-bottom">Deck Actions</p>
        <ul class="list-unstyled">
          <li>
            <a href="#" id="saveLink">
              save
            </a>
          </li>

          <li>
            <a href="#import-card-modal" data-toggle="modal">
              add cards
            </a>
          </li>

        </ul>
      </div>

      <!-- Card Counts -->
      <div class="col col-2 framed">
        <h5>Card Counts</h5>
        <ul class="list-unstyled">
          <li>
            Total:
            <span id="countMaindeck"></span>
          </li>
          <li>
            Creatures:
            <span id="countCreatures"</span>
          </li>
          <li>
            Others:

            <span id="countOther"</span>
          </li>
          <li>
            Lands:
            <span id="countLands"</span>
          </li>
        </ul>
      </div>
      <!-- END: Card Counts -->


      <!-- Basic Lands -->

      <div class="col col-2 framed">
        <h5>Basic Lands</h5>

        {% for basic in ['Forest', 'Island', 'Mountain', 'Plains', 'Swamp', 'Wastes'] %}
          <div class="basic-selector">
            <i class="far fa-plus-square basic-adjust basic-add"></i>
            <i class="far fa-minus-square basic-adjust basic-remove"></i>
            <span class="basic-type">{{ basic }}</span>
            ...
            <span class="basic-count">{{ d.basics(basic) }}</span>
          </div>
        {% endfor %}

      </div>
      <!-- END: Basic Lands -->

      <div id="command" class="col col-2 framed">
        <h5>Command Zone</h5>
        <ul class="card-list sortable list-unstyled">
          {% set is_legacy = d.is_legacy() %}
          {% for card in d.card_set.command() %}
            {{ card_list_item(card, is_legacy) }}
          {% endfor %}
        </ul>
      </div>

    </div>

    <div id="maindeck">
      <h5 class="mb-0 mt-2">Main Deck</h5>
      {{ deck_builder_row('maindeckCreatures', 'creature', d.card_set.maindeck().creatures()) }}
      {{ deck_builder_row('maindeckOther', 'other', d.card_set.maindeck().non_creature()) }}
    </div>

    <div id="sideboard">
      <h5 class="mb-0 mt-2">Sideboard</h5>
      {{ deck_builder_row('sideboardCreatures', 'creature', d.card_set.sideboard().creatures()) }}
      {{ deck_builder_row('sideboardOther', 'other', d.card_set.sideboard().non_creature()) }}
    </div>

    <div id="card-list" class="row">
      <div class="col framed">
        {% for cardname in d.deck_list() %}
          <p class="m-0">{{ cardname }}</p>
        {% endfor %}
      </div>
    </div>
  </div>


  <!-- Import Card Modal -->
  <div class="modal fade" id="import-card-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Import Card</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form>
          <div class="modal-body">

            <div class="row no-gutters">
              <div class="col form-group">
                <label for="import-card-name">Name</label>
                <input id="import-card-name" type="text" class="form-control">
              </div>

              <div class="col form-group pl-1">
                <label for="import-card-id">ID</label>
                <input id="import-card-id" type="text" class="form-control">
              </div>
            </div>

          </div> <!-- modal-body -->

          <div class="modal-footer">
            <button id="import-card-submit" type="button" class="btn btn-primary">import</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- END: Import Card Modal -->


  <!-- Import Select Modal -->
  <div class="modal fade" id="import-select-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Select Card Version</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form>

            <div class="col form-group pl-1">
              <p id="import-select-name"></p>
            </div>

            <div>
              <ul class="list-unstyled" id="import-select-version">
              </ul>
            </div>

          </form>
        </div> <!-- modal-body -->

      </div>
    </div>
  </div>
  <!-- END: Import Select Modal -->

  <script>
   const draft_path_root = "{{ url_for('draft_deck_add_card', draft_id=d.draft.id, card_id='') }}"

   function _open_import_select_modal(import_options) {
     const name_field = $('#import-select-name')
     name_field.val(import_options[0].name)

     const select_field = $('#import-select-version')
     select_field.empty()
     import_options.forEach(function(opt) {
       const link = $('<a></a>')
       link.attr('href', draft_path_root + opt.meta.cube_card_id)
       link.text(opt.meta.cube_name)

       const li = $('<li></li>')
       li.append(link)

       select_field.append(li)
     })

     $('#import-select-modal').modal('show')
   }

   document.addEventListener("DOMContentLoaded", function(event) {
     // Convert the mana costs to fancy mana symbols
     $('.card-mana-cost').each(function(i, elem) {
       elem = $(elem)
       const mana_string = elem.text().trim()
       const mana_icons = clo.util.mana_symbols_from_string(mana_string)
       elem.html(mana_icons)
     })

     $('#import-card-submit').click(function() {
       const name = $('#import-card-name').val().trim()
       const id = parseInt($('#import-card-id').val())

       const import_card_data = {}
       let request_url = undefined
       let key = undefined

       if (id) {
         import_card_data.id = id
         request_url = "/cards_by_id"
         key = id
       }
       else if (name) {
         import_card_data.name = name
         request_url = "/cards_by_name"
         key = name
       }
       else {
         return
       }

       $.ajax({
         type: 'POST',
         url: request_url,
         data: JSON.stringify(import_card_data),
         contentType: "application/json; charset=utf-8",
         success: function(response) {
           $('#import-card-modal').modal('hide')

           if (Object.keys(response.cards).length == 1) {
             const card_data = Object.values(response.cards)[0]
             window.location.href = draft_path_root + card_data.meta.cube_card_id
           }
           else if (response.missing.length == 1) {
             alert('Unable to find card')
           }
           else if (response.multiples.length == 1) {
             _open_import_select_modal(response.multiples[0])
           }
           else {
             console.log(response)
             alert('Unexpected response when importing card')
           }
         },
         error: function(error_message) {
           alert('Error importing card')
         }
       })

     })
   })

  </script>
{% endmacro %}
