{% macro header() %}
  <div class="row" id="header">
    <div class="col">
      {% if config.FLASK_ENV == 'development' %}
        /
        {% for name in ['dennis', 'eliya', 'scottsh', 'micah', 'tom'] %}
          {% if name == current_user.name %}
            <strong class="text-warning">{{ name }}</strong>
          {% else %}
            <a href="{{ url_for('login_as', user_name=name) }}">{{ name }}</a>
          {% endif %}
          /
        {% endfor %}
      {% endif %}
    </div>

    <div class="col col-md-2 text-center">
      {% if current_user.drafts_waiting() %}
        <a href="{{ url_for('draft_v2_next') }}" class="badge badge-warning">next draft</a>
      {% else %}
        <a href="{{ url_for('draft_v2_next') }}" class="badge badge-secondary">next draft?</a>
      {% endif %}

      {% if current_user.waiting_games(exclude_id=game_id) %}
        <a href="{{ url_for('game_next') }}" class="badge badge-warning">next game</a>
      {% else %}
        <a href="{{ url_for('game_next') }}" class="badge badge-secondary">next game?</a>
      {% endif %}
    </div>

    <div class="col col-md-4 text-center">

      {% if current_user.is_admin %}
        {# <a href="{{ url_for('admin') }}">admin</a> / #}
      {% endif %}

      <a href="{{ url_for('index') }}">home</a> /
      <a href="{{ url_for('my_account') }}">my account</a> /
      <a href="{{ url_for('logout') }}">logout</a>
    </div>
  </div>
{% endmacro %}
