{% from "macros.html" import format_multi_line_text %}

{% extends "base.html" %}

{% block content %}

  <div class="row d-flex justify-content-center">
    <div class="col text-center col-md-6">
      <h2>Achievement Unlocked</h2>
      <hr>
      <p class="text-primary">{{ achievement.name }}</p>
      <p class="text-secondary">{{ achievement.conditions }}</p>

      <hr>

      <!-- Achievement text -->
      <div id="accordion">
        {% for group in achievement.get_json() %}
          {% if group['timing'] %}
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                    {{ group['timing'] }}
                  </button>
                </h5>
              </div>

              <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {% for line in group['text'].split('\n') %}
                    <p>{{ line }}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- END: Achievement text -->
      
      <hr>

      <div>

        <!-- Story of This Achievement -->
        <p class="text-primary">Story of This Achievement</p>
        {{ format_multi_line_text(achievement.story) }}

        {% if achievement.finalized_timestamp and achievement.unlocked_by_id == current_user.id %}
          <div class="text-right">
            <button type="button" onclick="$('#finalizeForm').toggle()" class="btn btn-secondary">
              edit story
            </button>
          </div>
        {% endif %}
        <!-- END: Story of This Achievement -->

        <!-- Finalize Achievement -->
        <div id="finalizeForm">
          <form action="{{ url_for('achievement_finalize', achievement_id=achievement.id) }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
              <strong>{{ form.story.label }}</strong>
              <p class="m-0 text-muted">How did you unlock it?</p>
              <p class="m-0 text-muted">Why did you choose these cards?</p>
              {{ form.story(class='form-control', rows='5') }}
            </div>
            {{ form.submit(class='btn btn-primary') }}
          </form>
        </div>
        <!-- END: Finalize Achievement -->

      </div>

      <hr>

      <!-- Navigation -->
      <div class="text-right">
        <a href="{{ url_for('cube_achievements', cube_id=achievement.cube_id) }}">cube</a>
      </div>
      <!-- END: Navigation -->

    </div>
  </div>
  
{% endblock content %}

{% block scripts %}
  <script>
   {% if achievement.finalized_timestamp %}
   $(document).ready(function() {
     $('#finalizeForm').hide()
   })
   {% endif %}
  </script>
{% endblock scripts %}
