{% extends "base.html" %}

{% block content %}

  <div class="row d-flex justify-content-center">
    <div class="col text-center col-md-6">
      <h2>Achievement Unlocked</h2>
      <hr>
      <p class="text-primary">{{ achievement.name }}</p>
      <p class="text-secondary">{{ achievement.conditions }}</p>

      <hr>

      <!-- Achievement text -->
      <div id="accordion">
        {% for group in achievement.get_json() %}
          {% if group['timing'] %}
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                    {{ group['timing'] }}
                  </button>
                </h5>
              </div>

              <div id="collapse{{ loop.index }}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  {{ group['text'] }}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <!-- END: Achievement text -->
        
      <hr>
      
      <a href="{{ url_for('achievement_finalize', achievement_id=achievement.id) }}">
        <button class="btn btn-primary">I've Done All of The Things I'm Supposed To</button>
      </a>
    </div>
  </div>
  
{% endblock content %}
