{% extends "base.html" %}

{% block content %}

  <div class="row d-flex justify-content-center">
    <div class="col text-center col-md-4">
      <h2>Are You Sure?</h2>
      <hr>
      <p class="text-primary">{{ achievement.name }}</p>
      <p class="text-secondary">{{ achievement.conditions }}</p>
      <hr>

      <a href="{{ url_for('achievement_claim', achievement_id=achievement.id) }}">
        <button class="btn btn-primary">I've Earned This Man</button>
      </a>
    </div>
  </div>
  
{% endblock content %}
