{% extends 'base.html' %}

{% block title_suffix %}
  Admin
{% endblock %}


{% block content %}
  <div class="row">

    <div class="col framed">
      <h5>Admin Cubes</h5>
      <ul class="list-unstyled">
        {% for cube in cubes %}
          <li>
            <a href="{{ url_for('cube_cards', cube_id=cube.id) }}">
              {{ cube.name }}
            </a>
          </li>
        {% endfor %}
      </ul>


      <h5>All Active Games</h5>
      <div id="active-games-accordian">
        {% for game in games %}
          <div class="card">
            <div class="card-header" id="game-{{ loop.index }}" style="padding: 0;">
              <a
                class="btn"
                href="#game-details-{{ loop.index }}"
                data-toggle="collapse">

                {{ game.state.name }}
              </a>
            </div>

            <div
              class="collapse"
              id="game-details-{{ loop.index }}"
              data-parent="#game-{{ loop.index }}">

              <div class="card-body">
                <ul class="list-unstyled">
                  <li>{{ ', '.join(game.state.player_names()) }}</li>
                  <li>{{ game.age() }}</li>
                  <li>history: {{ game.state.data['history']|length }}</li>
                  <li>---</li>
                  <li>
                    <a href="{{ url_for('game', game_id=game.id) }}">
                      view
                    </a>
                  </li>
                  <li>
                    <a href="{{ url_for('game_delete', game_id=game.id) }}">
                      delete
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col framed">
      <h5>Actions</h5>
      <ul class="list-unstyled">
        <li>
          <a href="{{ url_for('admin_clear_diffs') }}">Clear diffs</a>
        </li>
        <li>
          <a href="{{ url_for('admin_name_fix') }}">Name Fix</a>
        </li>
        <li>
          <a href="{{ url_for('admin_pick_info_update') }}">Pick Info</a>
        </li>
        <li>
          <a href="{{ url_for('admin_game_user_link') }}">Game User Link</a>
        </li>
      </ul>
    </div>

    <div class="col framed">
      <h5>Add User</h5>
      <form action="{{ url_for('admin_add_user') }}" method="post" novalidate>
        {{ addform.hidden_tag() }}
        <div class="form-group">
          {{ addform.name.label }}
          {{ addform.name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ addform.password.label }}
          {{ addform.password(class="form-control") }}
        </div>
        {{ addform.submit(class="btn btn-primary") }}
      </form>
    </div>

  </div>
{% endblock %}
