{% extends 'basic.html' %}

{% block body_head %}
{% endblock %}

{% block body_start %}
  <div class="container">
    <div class="row" id="header">
      <div class="col text-right">
        <a href="/">home</a> /
        <a href="/logout">logout</a>
      </div>
    </div>
    <div class="row" id="header">
      <div class="col">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
    </div>

    <!-- Flash Messages -->
    <div id="flashMessages">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row mt-2">
              <div class="col alert alert-success">
                <p class="mb-0">{{ message }}</p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <div id="messageTemplate" class="row mt-2 d-none">
        <div class="col alert alert-success">
          <p class="mb-0"></p>
        </div>
      </div>        
    </div>
    <!-- END: Flash Messages -->
    
    {% block content %}{% endblock %}
  </div>
{% endblock body_start %}

{% block body_end %}
  {% block scripts %}
  {% endblock %}
{% endblock %}
