{% extends 'basic.html' %}

{% from 'macros/flash_zone.html' import flash_zone %}
{% from 'macros/header.html' import header with context %}


{% block body_head %}
{% endblock %}

{% block body_start %}
  <div class="container">
    {{ header() }}

    <div class="row" id="header">
      <div class="col">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
    </div>

    {{ flash_zone(get_flashed_messages()) }}

    {% block content %}{% endblock %}
  </div>
{% endblock body_start %}

{% block body_end %}
  {% block scripts %}
  {% endblock %}
{% endblock %}
