{% set version = 9 %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    {% if config.FLASK_ENV == 'development' %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.dev.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endif %}

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css">
    <link
      rel="stylesheet"
      href="/static/css/clo.css?version={{ version }}">

    <title>CLO - {% block title_suffix %}{% endblock %}</title>

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body_start %}
    {% endblock %}

    <!-- Card Image Popup -->
    <div class="d-none" id="autocardPopup" style="z-index: 500; right: 514px; bottom: 7px;">
      <div class="autocard-background">
        <div class="row no-gutters">
          <div class="position-relative">
            <img id="autocardImageFront" alt="">
          </div>
          <div class="position-relative">
            <img id="autocardImageBack" alt="" class="d-none">
          </div>
        </div>
      </div>
    </div>
    <!-- END: Card Image Popup -->


    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
      crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous">
    </script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous">
    </script>
    <script
      src="https://kit.fontawesome.com/bee48539c7.js"
      crossorigin="anonymous">
    </script>
    <script src="/static/js/autocard.js?version={{ version }}"></script>

    {% block body_end %}
    {% endblock %}
  </body>
</html>
