{% extends "base.html" %}

{% block title %}
  Card Editor
{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col">
      <a href="{{ url_for('cube_cards', cube_id=card.cube_id) }}">back to cube</a>
    </div>
  </div>

  <hr>
  
  <!-- edit form -->
  <div id="editForm" class="row">
    <div class="col col-md-12">
      <form action="{{ url_for('card_update', card_id=card.id) }}" method="post" novalidate>
        {{ form.hidden_tag() }}

        <!-- Big Card Name -->
        <div class="row justify-content-md-center">
          <div class="col ml-1 mr-1 bg-light rounded border">
            <h2 class="mt-2 text-secondary text-center">~ {{ card.name() }} ~</h2>
          </div>
        </div>
        <!-- END: Big Card Name -->

        {% if scar %}
          <!-- Scar -->
          <div class="row justify-content-md-center mt-2">
            <div class="col ml-1 mr-1 bg-warning rounded border">
              <p>Here is the scar you are supposed to add to the card. Please copy-paste or type it into the card appropriately.</p>
              <p>If you decide you don't want to apply this scar after all, just use the back button to return from whence you came.</p>

              <table class="table">
                <tbody>
                  <tr>
                    <td>Scar Text</td>
                    <td>{{ scar.text }}</td>
                  </tr>
                  {% if scar.restrictions %}
                    <td>Restrictions</td>
                    <td>{{ scar.restrictions }}</td>
                  {% endif %}
                  {% if scar.errata %}
                    <td>Errata</td>
                    <td>{{ scar.errata }}</td>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- END: Scar -->
        {% endif %}
        
        <div class="row mt-1">

          <!-- Front Face of Card -->
          <div class="col bg-light m-1 rounded border" id="frontFace">
            <h4 class="mt-2">front</h4>
            <div class="form-group">
              {{ form.face_0_name.label }}
              {{ form.face_0_name(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_0_mana_cost.label }} (<a href="https://scryfall.com/docs/api/colors">notation</a>)
              {{ form.face_0_mana_cost(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_0_image_url.label }}
              {{ form.face_0_image_url(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_0_type_line.label }}
              {{ form.face_0_type_line(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_0_oracle_text.label }}
              {{ form.face_0_oracle_text(class='form-control', rows='5') }}
            </div>

            <div class="row">
              <div class="col form-group">
                {{ form.face_0_power.label }}
                {{ form.face_0_power(class='form-control') }}
              </div>
              <div class="col form-group">
                {{ form.face_0_toughness.label }}
                {{ form.face_0_toughness(class='form-control') }}
              </div>
              <div class="col form-group">
                {{ form.face_0_loyalty.label }}
                {{ form.face_0_loyalty(class='form-control') }}
              </div>
            </div>
          </div>
          <!-- END: Front Face of Card -->

          <!-- Back Face of Card -->
          <div class="col bg-light m-1 rounded border" id="backFace">
            <h4 class="mt-2">back</h4>
            <div class="form-group">
              {{ form.face_1_name.label }}
              {{ form.face_1_name(class='form-control', id='backName') }}
            </div>
            <div class="form-group">
              {{ form.face_1_mana_cost.label }} (<a href="https://scryfall.com/docs/api/colors">notation</a>)
              {{ form.face_1_mana_cost(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_1_image_url.label }}
              {{ form.face_1_image_url(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_1_type_line.label }}
              {{ form.face_1_type_line(class='form-control') }}
            </div>
            <div class="form-group">
              {{ form.face_1_oracle_text.label }}
              {{ form.face_1_oracle_text(class='form-control', rows='5') }}
            </div>

            <div class="row">
              <div class="col form-group">
                {{ form.face_1_power.label }}
                {{ form.face_1_power(class='form-control') }}
              </div>
              <div class="col form-group">
                {{ form.face_1_toughness.label }}
                {{ form.face_1_toughness(class='form-control') }}
              </div>
              <div class="col form-group">
                {{ form.face_1_loyalty.label }}
                {{ form.face_1_loyalty(class='form-control') }}
              </div>
            </div>
            
          </div>
          <!-- END: Back Face of Card -->
          
        </div>

        <div class="row">
          <div class="col bg-light m-1 rounded border" id="commentArea">
            {{ form.comment.label }}
            {{ form.comment(class='form-control', rows='5') }}
          </div>
          
          <div class="col bg-light m-1 rounded border" id="submitArea">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.layout.label }}
              {{ form.layout(class='form-control', id='layout') }}
            </div>
            <div class="form-group">
              {{ form.update_as.label }}
              {{ form.update_as(class='form-control') }}
            </div>
            <p>{{ form.submit(class='btn-primary', id='submitButton') }}</p>
          </div>
        </div>
        
      </form>
    </div>
    
  </div>
  <!-- END: edit form -->

  <hr>

  <!-- edit history -->
  <div id="editHistory" class="row">
    <div class="col">
      <h4>Edit History</h4>
    </div>
  </div>
  <!-- END: edit history -->
{% endblock content %}

{% block scripts %}
  <script>
   $(document).ready(function() {
     // Expand the textareas to display all of their content.
     $('textarea').each(function(index, element) {
       element.style.height = element.scrollHeight+3+'px'; 
     })

     {% if read_only == 'true' %}
     $('input, textarea').each(function() {
       $(this).attr('disabled', 'disabled')
     })

     $('#submitButton').removeClass('btn-primary')
     {% endif %}
     
     $('#layout').change(function() {
       var layout = $(this).val()
       var back_face = $('#backFace')
       
       if (layout == 'normal' || layout == 'split' || layout == 'leveler' || layout == 'saga') {
         back_face.hide()
       }
       else {
         back_face.show()
       }
     })
   })
  </script>
{% endblock scripts %}
