{% extends "base.html" %}

{% from 'macros/card_frame.html' import empty_card_frame %}
{% from 'macros.html' import show_achievement %}


{% macro render_field_diff(diff, field_name) %}
  {% set field_diff = diff[field_name] %}
  {% if diff and field_diff['is_changed'] %}

    <ul class="field-diff list-unstyled">
      {% if field_name == 'oracle_text' %}
        {% for line in field_diff['plussed'].split('\n') %}
          {% if line.startswith('+ ') or line.startswith('- ') %}
            <li class="
                {% if line.startswith('+ ') %}
              text-success
                {% else %}
              text-danger
                {% endif %}
              "
            >{{ line }}</li>
          {% endif %}
        {% endfor %}
      {% else %}
        <li class="text-danger">
          {{ field_diff['original'] }}
        </li>
      {% endif %}
    </ul>
  {% endif %}
{% endmacro %}


{% macro render_image_popup(field_name) %}
  {% if field_name in ['image_url', 'art_crop_url'] %}
    <a
      data-toggle="modal"
      onclick="update_preview_images('{{ field_name }}')"
      href="#imagePreviewModal">
      show
    </a>
  {% endif %}
{% endmacro %}


{% macro render_form_group(fields, diff, field_name) %}
  <div class="form-group">
    {{ fields[field_name].label }}
    {{ render_image_popup(field_name) }}
    {{ fields[field_name](class='form-control', rows='2') }}
    {{ render_field_diff(diff, field_name) }}
  </div>
{% endmacro %}


{% macro render_form_group_col(fields, diff, field_name) %}
  <div class="col form-group">
    {{ fields[field_name].label }}
    {{ fields[field_name](class='form-control') }}
    {{ render_field_diff(diff, field_name) }}
  </div>
{% endmacro %}


{% macro face_form(fields, diff, face_name) %}
  <div class="col col-md-6 inner-frames">
    <div class="framed-inner">
      <h4 class="mt-2">{{ face_name }}</h4>
      {{ render_form_group(fields, diff, 'name') }}
      {{ render_form_group(fields, diff, 'mana_cost') }}
      {{ render_form_group(fields, diff, 'image_url') }}
      {{ render_form_group(fields, diff, 'art_crop_url') }}
      {{ render_form_group(fields, diff, 'type_line') }}
      {{ render_form_group(fields, diff, 'oracle_text') }}
      {{ render_form_group(fields, diff, 'flavor_text') }}

      <div class="row">
        {{ render_form_group_col(fields, diff, 'power') }}
        {{ render_form_group_col(fields, diff, 'toughness') }}
        {{ render_form_group_col(fields, diff, 'loyalty') }}
      </div>
    </div>
  </div>
{% endmacro %}


{% block title_suffix %}
  Edit -
  {% if card %}
    {{ card.name() }}
  {% else %}
    New Card
  {% endif %}
{% endblock %}

{% block title %}
  {{ title }}
{% endblock title %}


{% block content %}

  <div class="row">
    <div class="col">
      <a href="{{ url_for('cube_cards', cube_id=card.cube_id) }}">back to cube</a>
    </div>
  </div>

  <!-- edit form -->
  <div id="editForm" class="row">
    <div class="col col-md-12">
      <form
        id="edit-card-form"
        action="
                {% if mode == 'edit' %}
                {{ url_for('card_update', card_id=card.id) }}
                {% else %}
                {{ url_for('card_create', cube_id=cube.id) }}
                {% endif %}
                " method="post" novalidate>

        {{ form.hidden_tag() }}

        <!-- Big Card Name -->
        <div class="row">
          <div class="col ml-1 mr-1 bg-light rounded border">
            {% if mode == 'edit' %}
              <h2 class="mt-2 text-secondary text-center">~ {{ card.name() }} ~</h2>
            {% else %}
              <h2 class="mt-2 text-success text-center">~ New Card ~</h2>
            {% endif %}
          </div>
        </div>
        <!-- END: Big Card Name -->

        <!-- Removed from cube? -->
        {% if card.removed_by_timestamp %}
          <div class="row">
            <div class="col bg-danger text-white rounded border p-2 m-1 mt-2">
              <div class="row">
                <div class="col">
                </div>
                <div class="col">

                  <h5 class="text-center">This card was removed from the cube.</h5>
                  <em>
                    {% for line in card.removed_by_comment.split('\n') %}
                      <p class="text-center mb-0">
                        {{ line }}
                      </p>
                    {% endfor %}
                  </em>
                  <p class="text-center ml-6 mb-0">- {{ card.removed_by.name }}</p>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <!-- END: Removed from cube? -->

        {% if scar %}
          <!-- Scar -->
          <div class="row justify-content-md-center mt-2">
            <div class="col ml-1 mr-1 pt-2 bg-warning rounded border">
              <p>Here is the scar you are supposed to add to the card. Please copy-paste or type it into the card appropriately.</p>
              <p>If you decide you don't want to apply this scar after all, just use the back button to return from whence you came.</p>

              <table class="table">
                <tbody>
                  <tr>
                    <td>Scar Text</td>
                    <td>{{ scar.text }}</td>
                  </tr>
                  {% if scar.restrictions %}
                    <td>Restrictions</td>
                    <td>{{ scar.restrictions }}</td>
                  {% endif %}
                  {% if scar.errata %}
                    <td>Errata</td>
                    <td>{{ scar.errata }}</td>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- END: Scar -->
        {% endif %}

        <div class="row">
          <div class="col d-flex framed justify-content-center">
            {{ empty_card_frame(270) }}
          </div>
        </div>

        <!-- Edit forms for each face -->
        <div class="row mt-1">
          {% if card %}
            {{ face_form(form.faces[0], card.get_diff()['faces'][0], 'front') }}
            {{ face_form(form.faces[1], card.get_diff()['faces'][1], 'back') }}
          {% else %}
            {{ face_form(form.faces[0], None, 'front') }}
            {{ face_form(form.faces[1], None, 'back') }}
          {% endif %}
        </div>
        <!-- END: Edit forms for each face -->

        <div class="row">
          <div class="col framed" id="commentArea">
            {{ form.comment.label }}
            {{ form.comment(class='form-control', rows='5') }}

            {% if card %}
              <p class="text-secondary">Rarity: {{ card.get_json()['rarity'] }}</p>
            {% endif %}
          </div>

          <div class="col framed" id="submitArea">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.layout.label }}
              {{ form.layout(class='form-control', id='layout') }}
            </div>
            <div class="form-group">
              {{ form.update_as.label }}
              {{ form.update_as(class='form-control') }}
            </div>
            <div>
              {{ form.submit(class='btn btn-primary', id='submitButton') }}
              <button class="btn btn-secondary" onclick="toggle_diff()" type="button">Toggle Diff</button>
            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
  <!-- END: edit form -->

  {% if mode == 'edit' and read_only != 'true' %}
    <div class="row mt-2">
      <div class="col">
        <button
          type="button"
          class="btn btn-warning"
          data-toggle="collapse"
          data-target="#reallyRemove">
          Remove from Cube
        </button>

        <button
          type="button"
          class="btn btn-info"
          data-toggle="collapse"
          data-target="#achievementLink">
          Link to Achievement
        </button>

        {% if card.version != 1 %}
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            data-target="#flatten-scars-modal">
            Flatten Scars
          </button>
        {% endif %}
      </div>

      <div class="col bg-light border p-2">
        <div class="collapse" id="reallyRemove">
          <form
            action="{{ url_for('card_remove', card_id=card.id) }}"
            method="post"
            novalidate>
            {{ rcform.hidden_tag() }}
            <div class="form-group">
              {{ rcform.comment.label }}
              {{ rcform.comment(class='form-control', rows='3') }}
            </div>
            {{ rcform.submit(class='btn btn-danger') }}
          </form>
        </div>

        <div class="collapse" id="achievementLink">
          <form
            action="{{ url_for('cube_link_achievement', cube_id=card.cube_id) }}"
            method="post"
            novalidate>
            {{ alform.hidden_tag() }}
            {{ alform.card(id="achLinkCard") }}
            <div class="form-group">
              {{ alform.achievement.label(class='col-form-label') }}
              {{ alform.achievement(class='form-control') }}
            </div>
            {{ alform.submit(class="btn btn-primary") }}
          </form>
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Copy to another cube -->
  {% if card %}
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#copy-card-modal">
          Copy to Another Cube
        </button>
      </div>
    </div>
  {% endif %}
  <!-- END: Copy to another cube -->

  <hr>

  <div id="linkedAchievements" class="row">
    <!-- Linked Achievements -->
    <div class="col framed">
      <h4>Linked Achievements</h4>
      <hr>
      {% if card %}
        {% for ach in card.linked_achievements() %}
          {{ show_achievement(ach, current_user) }}
        {% endfor %}
      {% endif %}
    </div>
    <!-- END: Linked Achievements -->

    <div class="col framed ml-2">
      <h4>Pick Info</h4>
      {% if card_data %}
        <ul class="unstyled-list">
          <li>Times first picked: {{ card_data.first_picks() }} / {{ card_data.picks|length }}</li>
          <li style="line-height: 1;">
            Average pick position: {{ card_data.average_pick_formatted() }}
            <br>
            <span class="text-secondary" style="font-size: .7rem;">
              normalized to 15 card pack size
            </span>
          </li>
        </ul>

        <h4>Pick History</h4>
        <ul class="unstyled-list">
          {% for pick in card_data.picks %}
            <li>{{ pick.pick_number + 1 }}, {{ pick.draft.pack_size }}, {{ pick.draft.name }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <!-- Comments from previous versions -->
    <div class="col framed ml-2">
      <h4>Comments</h4>
      <hr>
      {% if card %}
        {% for version in card.versions() %}
          <p class="mb-0 ml-2 text-secondary text-s">{{ version.timestamp.date() }}</p>
          <p>{{ version.comment }}</p>
        {% endfor %}
      {% endif %}
    </div>
    <!-- END: Comments from previous versions -->

  </div>

  <!-- Copy CardModal -->
  <div class="modal fade" id="copy-card-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Copy Card</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>

        <div class="modal-body">
          {% if card %}
            <form action="{{ url_for('card_copy', card_id=card.id) }}" method="post" novalidate>
              {{ copyform.hidden_tag() }}

              <div class="form-group">
                {{ copyform.cube_id.label() }}
                {{ copyform.cube_id(class="form-control") }}
              </div>

              {{ copyform.submit(class="btn btn-primary", id="copy-card-submit") }}
            </form>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
  <!-- END: Copy Card Modal -->

  <!-- Flatten Scars Modal -->
  <div class="modal fade" id="flatten-scars-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Flatten Scars</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>

        <div class="modal-body">
          This will delete all older versions of this card, and make this into the original version. This cannot be undone. Are you sure?
        </div>

        <div class="modal-footer">
          <a class="btn btn-danger" href="{{ url_for('card_flatten', card_id=card.id) }}">
            I'm Sure!
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Flatten Scars Modal -->

  <!-- Image Preview Modal -->
  <div class="modal fade" id="imagePreviewModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Image Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            &times;
          </button>
        </div>

        <div class="modal-body d-flex justify-content-between">
          <div id="frontImagePreview">
            <img
              style="max-width:200px"
              src=""
              alt="front">
          </div>

          <div id="backImagePreview">
            <img
              style="max-width:200px"
              src=""
              alt="back">
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Image Preview Modal -->
{% endblock content %}

{% block scripts %}
  <script>
   function toggle_diff() {
     $('.field-diff').toggle()
   }

   function update_preview_images(key) {
     let front_image_url = $(`#face_0_${key}`).val()
     let back_image_url = $(`#face_1_${key}`).val()

     $('#frontImagePreview img').attr('src', front_image_url)
     $('#backImagePreview img').attr('src', back_image_url)
   }

   function show_card_preview() {
     let fields = [
       'name',
       'mana_cost',
       'image_url',
       'art_crop_url',
       'type_line',
       'oracle_text',
       'flavor_text',
       'power',
       'toughness',
       'loyalty',
     ]

     let front = {}
     let back = {}

     for (var i = 0; i < fields.length; i++) {
       let field = fields[i]
       front[field] = $(`#face_0_${field}`).val()
       back[field]  = $(`#face_1_${field}`).val()
     }

     let data = {
       card_faces: [front, back],
     }

     clo.util.draw_card_frame($('.closeup-card-wrapper'), data)
   }

   $(document).ready(function() {
     show_card_preview()

     $('input,textarea').focusout(function() {
       show_card_preview()
     })

     // Hide the card_id in achievement link, since that is fixed in this template.
     $('#achLinkCard').hide()

     // Set the size of the remove card text area
     $('#reallyRemove').on('show.bs.collapse', function (event) {
       $(this).find('textarea').attr('rows', '3')
     })

     // Expand the textareas to display all of their content.
     $('textarea').each(function(index, element) {
       element.style.height = element.scrollHeight+3+'px';
     })

     {% if read_only == 'true' %}
     $('#edit-card-form input,textarea').each(function() {
       $(this).attr('disabled', 'disabled')
     })

     $('#submitButton').removeClass('btn-primary')
     {% endif %}

     $('#layout').change(function() {
       var layout = $(this).val()
       var back_face = $('#backFace')

       if (layout == 'normal' || layout == 'split' || layout == 'leveler' || layout == 'saga') {
       back_face.hide()
       }
       else {
         back_face.show()
       }
     })
   })
  </script>
{% endblock scripts %}
