{% macro render_field_diff(diff, field_name) %}
  {% if diff %}
    <ul class="field-diff list-unstyled">
      {% for change, line in diff[field_name] %}
        <li class="
                   {% if change == '+' %}
                   text-success
                   {% else %}
                   text-danger
                   {% endif %}
                   "
        >{{ change }} {{ line }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

{% macro render_form_group(fields, diff, field_name) %}
  <div class="form-group">
    {{ fields[field_name].label }}
    {{ fields[field_name](class='form-control', rows='5') }}
    {{ render_field_diff(diff, field_name) }}
  </div>
{% endmacro %}

{% macro render_form_group_col(fields, diff, field_name) %}
  <div class="col form-group">
    {{ fields[field_name].label }}
    {{ fields[field_name](class='form-control', rows='5') }}
    {{ render_field_diff(diff, field_name) }}
  </div>
{% endmacro %}

{% macro face_form(fields, diff, face_name) %}
  <div class="col m-1 rounded border bg-light">
    <h4 class="mt-2">{{ face_name }}</h4>
    {{ render_form_group(fields, diff, 'name') }}
    {{ render_form_group(fields, diff, 'mana_cost') }}
    {{ render_form_group(fields, diff, 'image_url') }}
    {{ render_form_group(fields, diff, 'type_line') }}
    {{ render_form_group(fields, diff, 'oracle_text') }}
    {{ render_form_group(fields, diff, 'flavor_text') }}

    <div class="row">
      {{ render_form_group_col(fields, diff, 'power') }}
      {{ render_form_group_col(fields, diff, 'toughness') }}
      {{ render_form_group_col(fields, diff, 'loyalty') }}
    </div>
  </div>
{% endmacro %}

<!-- START PAGE -->
{% extends "base.html" %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col">
      <a href="{{ url_for('cube_cards', cube_id=card.cube_id) }}">back to cube</a>
    </div>
  </div>

  <!-- edit form -->
  <div id="editForm" class="row">
    <div class="col col-md-12">
      <form action="
                    {% if mode == 'edit' %}
                    {{ url_for('card_update', card_id=card.id) }}
                    {% else %}
                    {{ url_for('card_create', cube_id=cube.id) }}
                    {% endif %}
                    " method="post" novalidate>
        {{ form.hidden_tag() }}

        <!-- Big Card Name -->
          <div class="row justify-content-md-center">
            <div class="col ml-1 mr-1 bg-light rounded border">
              {% if mode == 'edit' %}
                <h2 class="mt-2 text-secondary text-center">~ {{ card.name() }} ~</h2>
              {% else %}
                <h2 class="mt-2 text-success text-center">~ New Card ~</h2>
              {% endif %}
            </div>
          </div>
        <!-- END: Big Card Name -->

        {% if scar %}
          <!-- Scar -->
          <div class="row justify-content-md-center mt-2">
            <div class="col ml-1 mr-1 pt-2 bg-warning rounded border">
              <p>Here is the scar you are supposed to add to the card. Please copy-paste or type it into the card appropriately.</p>
              <p>If you decide you don't want to apply this scar after all, just use the back button to return from whence you came.</p>

              <table class="table">
                <tbody>
                  <tr>
                    <td>Scar Text</td>
                    <td>{{ scar.text }}</td>
                  </tr>
                  {% if scar.restrictions %}
                    <td>Restrictions</td>
                    <td>{{ scar.restrictions }}</td>
                  {% endif %}
                  {% if scar.errata %}
                    <td>Errata</td>
                    <td>{{ scar.errata }}</td>
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          <!-- END: Scar -->
        {% endif %}
        

        <!-- Edit forms for each face -->
        <div class="row mt-1">
          {% if card %}
            {{ face_form(form.faces[0], card.scar_diff[0], 'front') }}
            {{ face_form(form.faces[1], card.scar_diff[1], 'back') }}
          {% else %}
            {{ face_form(form.faces[0], None, 'front') }}
            {{ face_form(form.faces[1], None, 'back') }}
          {% endif %}
        </div>
        <!-- END: Edit forms for each face -->

        <div class="row">
          <div class="col bg-light m-1 rounded border p-2" id="commentArea">
            {{ form.comment.label }}
            {{ form.comment(class='form-control', rows='5') }}
          </div>
          
          <div class="col bg-light m-1 rounded border p-2" id="submitArea">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.layout.label }}
              {{ form.layout(class='form-control', id='layout') }}
            </div>
            <div class="form-group">
              {{ form.update_as.label }}
              {{ form.update_as(class='form-control') }}
            </div>
            <div>
              {{ form.submit(class='btn btn-primary', id='submitButton') }}
              <button class="btn btn-secondary" onclick="toggle_diff()" type="button">Toggle Diff</button>
            </div>
          </div>
        </div>
        
      </form>
    </div>
    
  </div>
  <!-- END: edit form -->

  {% if mode == 'edit' and read_only != 'true' %}
    <div class="row mt-2">
      <div class="col">
        <button
          type="button"
          class="btn btn-warning"
          data-toggle="collapse"
          data-target="#reallyRemove">
          Remove from Cube
        </button>
      </div>

      <div class="col bg-light border p-2">
        <div class="collapse" id="reallyRemove">
          <form
            action="{{ url_for('card_remove', card_id=card.id) }}"
            method="post"
            novalidate>
            {{ rcform.hidden_tag() }}
            <div class="form-group">
              {{ rcform.comment.label }}
              {{ rcform.comment(class='form-control', rows='3') }}
            </div>
            {{ rcform.submit(class='btn btn-danger') }}
          </form>
        </div>
      </div>
    </div>
  {% endif %}
  
  <hr>

  <!-- edit history -->
  <div id="editHistory" class="row">
    <div class="col">
      <h4>Edit History</h4>
    </div>
  </div>
  <!-- END: edit history -->
{% endblock content %}

{% block scripts %}
  <script>
   function toggle_diff() {
     $('.field-diff').toggle()
   }
   
   $(document).ready(function() {
     // Set the size of the remove card text area
     $('#reallyRemove').on('show.bs.collapse', function (event) {
       $(this).find('textarea').attr('rows', '3')
     })
     
     // Expand the textareas to display all of their content.
     $('textarea').each(function(index, element) {
       element.style.height = element.scrollHeight+3+'px'; 
     })

     {% if read_only == 'true' %}
     $('input, textarea').each(function() {
       $(this).attr('disabled', 'disabled')
     })

     $('#submitButton').removeClass('btn-primary')
     {% endif %}
     
     $('#layout').change(function() {
       var layout = $(this).val()
       var back_face = $('#backFace')
       
       if (layout == 'normal' || layout == 'split' || layout == 'leveler' || layout == 'saga') {
       back_face.hide()
       }
       else {
         back_face.show()
       }
     })
   })
  </script>
{% endblock scripts %}
