{% extends "cube_base.html" %}

{% block content %}
  {{ super() }}

  <!-- Random Scars -->
  {% if random_scars %}
    <div class="row">
      <div class="col p-2 border bg-light">
        {% for scar in random_scars %}
          <p class="text-info mb-0">{{ scar.text }}</p>
          <p class="text-muted mt-0">{{ scar.restrictions }}</p>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <!-- END: Random Scars -->

  <div class="row mt-2">

    <!-- Table of existing scars -->
    <div class="col col-md-8">
      <h4>Scars</h4>
      <table class="table table-sm" id="scarTable">
        <thead class="thead thead-light">
          <th>text</th>
          <th>restrictions</th>
          <th>creator</th>
          <th>card</th>
        </thead>
        <tbody>
          {% for scar in cube.scars %}
            <tr data-scar-id="{{ scar.id }}">
              <td class="scar-text">{{ scar.text }}</td>
              <td class="scar-restrictions">{{ scar.restrictions }}</td>
              <td>{{ scar.created_by.name }}</td>

              {% if scar.applied_to %}
                <td>
                  <a href="{{ url_for('card_editor', card_id=scar.applied_to_id) }}">
                    {{ scar.applied_to.name() }}
                  </a>
                </td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- END: Table of existing scars -->

    <div class="col col-md-4 ">

      <!-- Utilities -->
      <div class="bg-light border p-2">
        <form action="{{ url_for('cube_scars', cube_id=cube.id) }}" method="post" novalidate>
          {{ rsform.hidden_tag() }}
          {{ rsform.submit(class="btn btn-info") }}
          {{ rsform.count() }}
        </form>
      </div>
      <!-- END: Utilities -->

      <!-- New scar form -->
      <div id="createScarForm" class="bg-light border p-2 mt-2">
        <h4 id="createScarTitle">Create Scar</h4>
        <form
          action="{{ url_for('cube_scars_add', cube_id=cube.id) }}"
          method="post"
          novalidate>
          
          {{ form.hidden_tag() }}
          {{ form.update_id(id='scarUpdateId') }}
          <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class='form-control', rows=8, id='scarText') }}
          </div>
          <div class="form-group">
            {{ form.restrictions.label }}
            {{ form.restrictions(class='form-control', id='scarRestrictions') }}
          </div>
          <div class="row">
            <div class="col">
              <p>{{ form.submit(class='btn btn-primary', id='scarSubmit') }}</p>
            </div>
            <div class="col">
              <div class="form-group">
                {{ form.update_as.label }}
                {{ form.update_as(class='form-control') }}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- END: New scar form -->
  </div>
{% endblock content %}

{% block scripts %}
  <script>
   $(document).ready(function() {
     $('#scarUpdateId').hide()
     
     $('#scarTable tbody tr').click(function() {
       let row = $(this)
       let scar_id = row.data('scar-id')
       let scar_text = row.find('.scar-text').text()
       let scar_rest = row.find('.scar-restrictions').text()

       let form = $('#createScarForm')
       form.removeClass('bg-light')
       form.addClass('bg-warning')
       form.find('#createScarTitle').text('Edit Scar')
       form.find('#scarUpdateId').val(scar_id)
       form.find('#scarText').val(scar_text)
       form.find('#scarRestrictions').val(scar_rest)

       let submit = form.find('#scarSubmit')
       submit.val('Update')
       submit.removeClass('btn-primary')
       submit.addClass('btn-danger')

       $('html, body').animate({ scrollTop: $("#createScarForm").offset().top }, 'fast');       
     })
   })
  </script>
{% endblock %}
