{% extends "cube_base.html" %}

{% block content %}
  {{ super() }}

  <!-- Available Achievements -->
  <div class="row">
    <div class="col">
      <h4>Available Achievements</h4>

      <div class="bg-light border border-round p-2">
        {% for achievement in cube.achievements_avaiable() %}
          <div class="d-flex">

            <!-- Achievement Name -->
            <div class="mr-auto mt-1 text-primary">
              {{ achievement.name }}
              {% if achievement.multiunlock %}
                <span class="badge badge-pill badge-warning">multi</span>
              {% endif %}
            </div>

            <!-- Edit Button -->
            {% if achievement.created_by_id == current_user.id %}
              <div class="mr-1">
                <a href="{{ url_for('achievement_edit', achievement_id=achievement.id) }}">
                  <button class="btn btn-warning">edit</button>
                </a>
              </div>
            {% endif %}

            <!-- Claim Button -->
            <div>
              <a href="{{ url_for('achievement_confirm_reveal', achievement_id=achievement.id) }}">
                <button class="btn btn-success">unlock</button>
              </a>
            </div>
          </div>

          <!-- Achievement Conditions -->
          <div class="d-flex text-secondary">
            {{ achievement.conditions }}
          </div>
          
          <hr>
        {% endfor %}
      </div>
    </div>
    <!-- END: Available Achievements -->

  <!-- New achievement form -->
    <div class="col">
      <h4>Create Achievement</h4>
      <div class="bg-light border p-2">
        <form action="{{ url_for('cube_achievements_add', cube_id=cube.id) }}" method="post" novalidate>
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class='form-control') }}
          </div>
          <div class="form-group">
            {{ form.conditions.label }}
            {{ form.conditions(class='form-control', rows=5) }}
          </div>
          <div class="form-group">
            {{ form.unlock.label }}
            {{ form.unlock(class='form-control', rows=10) }}
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                {{ form.multiunlock() }}
                {{ form.multiunlock.label }}
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                {{ form.update_as.label }}
                {{ form.update_as(class='form-control') }}
              </div>
            </div>
          </div>
          <p>{{ form.submit() }}</p>
        </form>
      </div>
    </div>
    <!-- END: New achievement form -->
  </div>
{% endblock content %}
