{% extends "base.html" %}

{% block title %}
  Cube List
{% endblock %}

{% block content %}
  <div class="row" >
    <div id="activeCubes" class="col">
      {% for cube in active %}
        <p><a href="/cubes/{{cube.id}}">{{ cube.name }}</a></p>
      {% endfor %}
    </div>

    <div id="newCube" class="col border">
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }}
          {{ form.name(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.style.label }}
          {{ form.style(class="list-unstyled") }}
        </div>
        <p>{{ form.submit() }}</p>
      </form>
    </div>
  </div>
{% endblock %}
