{% extends "cube_base.html" %}

{% block title_suffix %}
  {{ cube.name }} - Data
{% endblock %}

{% block content %}
  {{ super() }}

  <div class="row">

    <!-- Creature Type Breakdown -->
    <div class="col framed">
      <ul class="list-unstyled">
        {% for type, cards in d.creature_types() %}
          <li>{{ type }} ({{ cards|length }})</li>
        {% endfor %}
      </ul>
    </div>
    <!-- END: Creature Type Breakdown -->


    <!-- Creatures Display -->
    <div class="col framed">
      {% for type, cards in d.creature_types() %}
        <div class="creature-group" id="{{ type }}CreatureGroup">
          <h5>{{ type }}</h5>
          <ul class="list-unstyled">
            {% for card in cards %}
              <li>
                <a href="{{ url_for('card_editor', card_id=card.id) }}">
                  {{ card.name() }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <!-- END: Creatures Display -->

    <div class="col framed">
      <h5>Most First Picked Cards</h5>
      <ul class="list-unstyled">
        {% for card_name, count in d.first_picks() %}
          <li>
            {{ count }}:
            {{ card_name }}
          </li>
        {% endfor %}
      </ul>

      <h5>Highest Average Picked Cards</h5>
      <ul class="list-unstyled">
        {% for info in d.highest_picks() %}
          <li>
            {{ info.average_pick_formatted() }} ({{ info.picks|length }}):
            {{ info.card.name() }}
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>

{% endblock content %}
