{% from 'macros.html' import show_achievement %}


{% extends "cube_base.html" %}


{% block cube_section %}
  Factions
{% endblock %}


{% block more_nav %}
  <li>
    <a href="#newFactionModal" data-toggle="modal">New Faction</a>
  </li>
{% endblock more_nav %}


{% block content %}
  {{ super() }}

  <div class="row">

    <!-- Faction List -->
    <div class="col inner-frames">
      {% if not cube.factions %}
        <p class="info">There are no factions in this cube, yet.</p>
      {% endif %}

      {% for faction in cube.factions|reverse %}
        <div data-id="{{ faction.id }}" class="framed-inner faction">
          <a class="btn btn-sm btn-outline-warning faction-edit-button" href="#">edit</a>
          <p class="faction-name">{{ faction.name }}</p>
          <p class="faction-desc">{{ faction.desc }}</p>
          <p class="faction-age">founded: {{ faction.age() }} ago</p>

          <p class="faction-header">membership criteria</p>
          <p class="faction-memb">{{ faction.memb }}</p>

          <p class="faction-header">notes</p>
          <p class="faction-note">{{ faction.note }}</p>
        </div>
      {% endfor %}
    </div>
    <!-- END: Faction List -->


    <!-- Faction Achievements -->
    <div class="col framed">
      {% for ach in achievements %}
        {{ show_achievement(ach, current_player) }}
      {% endfor %}
    </div>
    <!-- END: Faction Achievements -->

  </div>


  <!-- New Faction Modal -->
  <div class="modal fade" id="newFactionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Faction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form
            action="{{ url_for('cube_edit_faction', cube_id=cube.id) }}"
            method="post"
            novalidate>

            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.name.label }}
              {{ form.name(class='form-control', id='form-name') }}
            </div>
            <div class="form-group">
              {{ form.desc.label }}
              {{ form.desc(class='form-control', id='form-desc') }}
            </div>
            <div class="form-group">
              {{ form.memb.label }}
              {{ form.memb(class='form-control', id='form-memb') }}
            </div>
            <div class="form-group">
              {{ form.note.label }}
              {{ form.note(class='form-control', id='form-note') }}
            </div>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block scripts %}
  <script>
   $(document).ready(function() {
     $('.faction-edit-button').click(function (event) {
       let div = $(event.target).closest('.faction')
       let fields = ['name', 'desc', 'memb', 'note']

       for (var i = 0; i < fields.length; i++) {
         let value = div.find(`.faction-${fields[i]}`).text()
         $(`#form-${fields[i]}`).val(value)
       }

       let id = div.data('id')
       $('#newFactionModal #id').val(id)

       $('#newFactionModal').modal()
     })
   })
  </script>
{% endblock scripts %}
