{% extends "base.html" %}

{% block title_suffix %}
  {% block cube_section %}{% endblock %} - {{ cube.name }}
{% endblock %}

{% block title %}
  Cube Details: {{ cube.name }}
{% endblock title %}

{% block content %}
  <div class="row">

    <!-- Cube Navigation -->
    <div id="cubeNav" class="col framed">
      <ul class="list-unstyled">
        <li>
          <a href="{{ url_for('cube_cards', cube_id=cube.id) }}">
            Cards
          </a>
          ({{ cube.cards()|length }})
        </li>

        <li>
          <a href="{{ url_for('cube_achievements', cube_id=cube.id) }}">
            Achievements
          </a>
          ({{ cube.achievements|length }})
        </li>

        {% if cube.style.name == 'legacy' %}
          <li>
            <a href="{{ url_for('cube_scars', cube_id=cube.id) }}">
              Scars
            </a>
            ({{ cube.scars|length }})
          </li>

          <li>
            <a href="{{ url_for('cube_factions', cube_id=cube.id) }}">
              Factions
            </a>
            ({{ cube.factions|length }})
          </li>

          <li>
            <a href="{{ url_for('cube_interns', cube_id=cube.id) }}">
              Interns
            </a>
          </li>
        {% endif %}

        <li>
          <a href="{{ url_for('cube_data', cube_id=cube.id) }}">
            Data
          </a>
        </li>
      </ul>

      <hr>

      <ul class="list-unstyled mb-0">
        {% block more_nav %}
        {% endblock %}
      </ul>


    </div>
    <!-- END: Cube Navigation -->

    <!-- Cube Details -->
    <div class="col framed">
      <ul class="list-unstyled">
        <li>Name: {{ cube.name }}</li>
        <li>Style: {{ cube.style.name }}</li>
        <li>Age: {{ cube.age() }}
      </ul>
    </div>
    <!-- END: Cube Details -->

  </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}
