{% from 'macros.html' import format_multi_line_text %}
{% from 'macros.html' import show_achievement %}
{% from 'macros.html' import show_achievement_form %}

{% extends "cube_base.html" %}

{% block content %}
  {{ super() }}

  <!-- Available Achievements -->
  <div class="row">
    <div class="col col-md-6">
      <h4>Available Achievements</h4>

      <div class="bg-light border border-round p-2">
        {% for achievement in cube.achievements_avaiable() %}
          {{ show_achievement(achievement, current_user) }}
        {% endfor %}
      </div>
    </div>
    <!-- END: Available Achievements -->

    
    <div class="col col-md-6">

      <!-- New achievement form -->
      <h4>Create Achievement</h4>
      {{ show_achievement_form(form) }}
      <!-- END: New achievement form -->

      <!-- Claimed Achievements -->
      <div class="border bg-light p-2 mt-2">
        <h4>Claimed Achievements</h4>
        {% for achievement in cube.achievements_completed()|sort(attribute='unlocked_timestamp', reverse=True) %}
          <div class="d-flex">

            <!-- Achievement Name -->
            <div class="mr-auto mt-1">
              <a href="{{ url_for('achievement_view', achievement_id=achievement.id) }}">
                {{ achievement.full_name() }}
              </a>
              <span class="badge badge-pill badge-success">
                {{ achievement.unlocked_by.name }}
              </span>
              {% if achievement.multiunlock %}
                <span class="badge badge-pill badge-warning">multi</span>
              {% endif %}
              <br>
              <p class="ml-4 mb-0 text-muted font-weight-light" style="font-size:.8rem">
                {{ achievement.unlocked_timestamp.strftime("%Y-%m-%d") }}
              </p>
            </div>

            <!-- Clone Button -->
            <div class="mr-1">
              <a href="{{ url_for('achievement_clone', achievement_id=achievement.id) }}">
                <button class="btn btn-info">clone</button>
              </a>
            </div>
          </div>

          <div>
            <!-- Achievement Conditions -->
            <div class="text-secondary">
              {{ achievement.conditions }}
            </div>

            <div class="text-info p-2">
              {{ format_multi_line_text(achievement.story) }}
            </div>
          </div>
          <hr>
        {% endfor %}
      </div>
      <!-- END: Claimed Achievements -->
    </div>
  </div>
{% endblock content %}
