{% from 'macros.html' import format_multi_line_text %}
{% from 'macros.html' import show_achievement %}
{% from 'macros.html' import show_achievement_form %}

{% extends "cube_base.html" %}


{% block cube_section %}
  Achievements
{% endblock %}


{% block more_nav %}
  <li>
    <a href="#availableAchievements">Available Achievements</a>
  </li>

  <li>
    <a href="#claimedAchievements">Claimed Achievements</a>
  </li>

  <li>
    <a href="#linkedAchievements">Linked Achievements</a>
  </li>

  <li>
    <a href="#newAchievement">New Achievement Form</a>
  </li>

  <li>
    <a href="{{ url_for('cube_bump_xp', cube_id=cube.id) }}">Bump Achievement XP</a>
  </li>

{% endblock more_nav %}

{% block content %}
  {{ super() }}

  {% set achs = cube.achievements_wrapper() %}

  <!-- First Row -->
  <div class="row">

    <!-- Available Achievements -->
    <div class="col m-0 p-0">
      <div class="framed" style="background-color: #FFFFE0">
        <a name="starredAchievements"></a>
        <h4>StarredAchievements</h4>

        {% for achievement in achs.starred_by(current_user.id) %}
          {{ show_achievement(achievement, current_user) }}
        {% endfor %}
      </div>

      <div class="framed">
        <a name="availableAchievements"></a>
        <h4>Available Achievements</h4>

        {% for achievement in achs.standard().andnot().starred_by(current_user.id) %}
          {{ show_achievement(achievement, current_user) }}
        {% endfor %}
      </div>
    </div>
    <!-- END: Available Achievements -->

    <!-- Claimed Achievements -->
    <div class="col framed">
      <a name="claimedAchievements"></a>
      <h4>Recently Claimed Achievements</h4>

      {% for achievement in achs.unlocked().get()[:40] %}
        <div class="d-flex">

          <!-- Achievement Name -->
          <div class="mr-auto mt-1">
            <a href="{{ url_for('achievement_view', achievement_id=achievement.id) }}">
              {{ achievement.full_name() }}
            </a>
            {% if achievement.multiunlock %}
              <span class="badge badge-pill badge-warning">multi</span>
            {% endif %}
            <br>
            <p class="ml-4 mb-0 text-muted font-weight-light" style="font-size:.8rem">
              unlocked: {{ achievement.unlocked_by.name }}
              on {{ achievement.unlocked_timestamp.strftime("%Y-%m-%d") }}
            </p>
          </div>

          <!-- Clone Button -->
          <div class="mr-1">
            <a href="{{ url_for('achievement_clone', achievement_id=achievement.id) }}">
              <button class="btn btn-info">clone</button>
            </a>
          </div>
        </div>

        <div>
          <!-- Achievement Conditions -->
          <div class="text-secondary">
            {{ achievement.conditions }}
          </div>

          <div class="text-info p-2">
            {{ format_multi_line_text(achievement.story) }}
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
    <!-- END: Claimed Achievements -->
  </div>
  <!-- END: First Row -->

  <!-- Second Row -->
  <div class="row">
    <!-- Linked Achievements -->
    <div class="col framed">
      <a name="linkedAchievements"></a>
      <h4 class="mb-0">Linked Achievements</h4>
      <p class="text-muted">
        <em>Achievements that are linked to specific cards.</em>
      </p>

      {% for achievement in achs.linked().andnot().starred_by(current_user.id) %}
        {{ show_achievement(achievement, current_user) }}
      {% endfor %}
    </div>
    <!-- END: Linked Achievements -->

    <!-- New achievement form -->
    <div class="col framed">
      <a name="newAchievement"></a>
      <h4>Create Achievement</h4>
      {{ show_achievement_form(form) }}
    </div>
    <!-- END: New achievement form -->
  </div>
{% endblock content %}
