{% extends 'cube_base.html' %}

{% block content %}
  {{ super() }}

  <div id="cards" class="row card-table">

    {% for col in columns %}
      <div class="col" style="width:12.5%">
        <div class="table-column-header">
          {{ col.name }}
        </div>
        {% for section in col.sections %}
          <div class="table-section {{ col.name }}">
            <div class="table-section-header">
              {{ section.name }}
            </div>
            <ul>
              {% for card in section.cards %}
                <li
                  class="card-list-item"
                  data-toggle="card-image-popup"
                  data-front="{{ card.image_urls()[0] }}"
                  {% if card.image_urls()|length > 1 and card.image_urls()[0] != card.image_urls()[1] %}
                    data-back="{{ card.image_urls()[1] }}"
                  {% endif %}
                >
                  {{ card.name() }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </div>

  <div id="imagePopup" style="max-width: 150px">
    <img src="">
  </div>
{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.card-list-item').mouseover(function() {
        let front_url = $(this).data('front')
        $('#imagePopup').attr('src', front_url).show()
      }).mouseleave(function() {
        $('#imagePopup').hide()
      })
    })
  </script>
{% endblock %}
