{% extends "cube_base.html" %}

{% block more_nav %}
  <li>
    <a href="#addCardsModal" data-toggle="modal">
      Add Cards
    </a>
  </li>

  <li>
    <a href="{{ url_for('card_creator', cube_id=cube.id) }}">
      Create an Original Card
    </a>
  </li>

  <div>
    <i class="ms ms-w ms-cost"></i>
    <i class="ms ms-g ms-cost"></i>
    <i class="ms ms-r ms-cost"></i>
    <i class="ms ms-b ms-cost"></i>
    <i class="ms ms-u ms-cost"></i>
  </div>
{% endblock more_nav %}

{% block content %}
  {{ super() }}

  <!-- Formatted Cards Table -->
  <div id="cards" class="row card-table mt-2">

    {% for col in t.columns %}
      <div class="col table-column">
        <div class="table-column-header">
          {{ col.header }} ({{ col.num_cards() }})
        </div>
        
        {% for section in col.sections %}
          <div class="table-section {{ col.color_class }}">
            
            <div class="table-section-header">
              {{ section.header }} ({{ section.num_cards() }})
            </div>

            {% for card in section.cards %}
              {% if card.section_divider == 'table-section-divider' %}
                <div class="card-list-divider">
                  <span class="bar"></span>
                  {% for n in range(card.cmc()) %}
                    {% if (n % 5) == 4 %}
                      <span class="small-dot"></span>
                    {% else %}
                      <span class="tiny-dot"></span>
                    {% endif %}
                  {% endfor %}
                  <span class="bar"></span>
                </div>
              {% endif %}
              <p
                class="card-list-item"
                data-front="{{ card.image_front() }}"
                {% if card.image_back() %}
                  data-back="{{ card.image_back() }}"
                {% endif %}
              >
                {% if card.linked_achs %}
                  <i class="fab fa-font-awesome-flag"></i>
                {% endif %}
                {% if card.differ().is_significant() %}
                  <i class="fas fa-bolt"></i>
                {% elif card.differ().is_minor() %}
                  <i class="fas fa-bolt text-muted"></i>
                {% endif %}
                <a href="{{ url_for('card_editor', card_id=card.id) }}">
                  {{ card.name() }}
                </a>
              </p>
            {% endfor %}
            
          </div>
        {% endfor %}
        
      </div>
    {% endfor %}

  </div>
  <!-- END: Formatted Cards Table -->


  <div class="row">
    
    <!-- Removed Cards -->
    <div class="col framed">
      <div>
        <h4>Removed Cards</h4>
        <table class="table table-sm">
          <thead class="thead thead-light">
            <th>card name</th>
            <th>removed by</th>
            <th></th>
          </thead>
          <tbody>
            {% for card in cube.cards_removed() %}
              <tr>
                <td>{{ card.name() }}</td>
                <td>{{ card.removed_by.name }}</td>
                <td>
                  <a href="{{ url_for('card_editor', card_id=card.id, read_only='true') }}">
                    view
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END: Removed cards -->
    
    <!-- Added Cards -->
    <div class="col framed">
      <div>
        <h4>Added Cards</h4>
        <table class="table table-sm">
          <thead class="thead thead-light">
            <th>card name</th>
            <th>removed by</th>
            <th></th>
          </thead>
          <tbody>
            {% for card in cube.cards_added() %}
              <tr>
                <td>{{ card.name() }}</td>
                <td>{{ card.added_by.name }}</td>
                <td>
                  <a href="{{ url_for('card_editor', card_id=card.id, read_only='true') }}">
                    view
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END: Added cards -->

    
    <!-- Recent edits -->
    <div class="col framed">
      <div>
        <h4>Recent Edits</h4>
        <table class="table table-sm">
          <thead class="thead thead-light">
            <th>card name</th>
            <th>updated by</th>
            <th></th>
          </thead>
          <tbody>
            {% for card in cube.cards_updated(limit=20) %}
              <tr>
                <td>{{ card.name() }}</td>
                <td>{{ card.edited_by.name }}</td>
                <td>
                  <a href="{{ url_for('card_editor', card_id=card.latest_id, read_only='true') }}">
                    view
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- END: Recent edits -->
    
  </div>

  
  <!-- Renamed Cards Finder -->
  <div class="row">
    <div class="col framed">
      <h5>Renamed Card Finder</h5>
      <ul class="list-unstyled">
        {% for card in cube.cards() %}
          {% if card.differ().is_changed('name') %}
            <li>
              <a href="{{ url_for('card_editor', card_id=card.id) }}">
                {{ card.original.name() }} &#x2014; {{ card.name() }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END: Renamed Cards Finder -->



  <!-- Add Cards Modal -->
  <div class="modal fade" id="addCardsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Cards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>          
        </div>
        
        <div class="modal-body">

          <form action="" method="post" id="addCardsForm" novalidate>
            {{ add_cards_form.hidden_tag() }}
            <div class="form-group">
              {{ add_cards_form.cardnames.label }}
              {{ add_cards_form.cardnames(class='form-control') }}
            </div>
            <div class="form-group">
              {{ add_cards_form.add_as_starter() }}
              {{ add_cards_form.add_as_starter.label }}
            </div>
          </form>
          <button class="btn btn-primary" type="button" id="addCardsButton">Add Cards</button>

          <div id="addCardsWaitMessage" class="d-none">
            <hr>

            <p class="text-danger">
              Now loading cards. This can take a few seconds to several minutes, depending on how many cards you have added.
            </p>
            <p>A message will be displayed here when the loading has completed.</p>
          </div>
        </div>
        
        <div class="modal-footer d-none">
          <div id="addCardsSuccess" class="text-success d-none">
            Cards added successfully!
          </div>

          <div id="addCardsFailure" class="text-warning d-none">
            There was an error while loading the cards. Reload the page to see if they were actually added.
          </div>
          
          <a
            id="#reloadPage"
            href="{{ url_for('cube_cards', cube_id=cube.id) }}"
            class="btn btn-primary">
            Reload Page
          </a>
        </div>
        
      </div>
    </div>
  </div>
  <!-- END: New Cube Modal -->  

{% endblock content %}

{% block scripts %}
  <script>
   $(document).ready(function() {
     autocard_init('card-list-item')
     
     $('#addCardsButton').click(function () {
       let modal = $('#addCardsModal')
       let body = modal.find('.modal-body')
       let footer = modal.find('.modal-footer')
       let data = $('#addCardsForm').serialize()

       // Prevent clicking on the submit button more than once.
       body.find('button').hide()

       // Prevent changes to the form after submitting.
       $('#addCardsForm').find('input, textarea').attr('disabled', 'disabled')

       // Show the loading message
       $('#addCardsWaitMessage').removeClass('d-none')

       $.ajax({
         type: "POST",
         url: "{{ url_for('cube_add_cards', cube_id=cube.id) }}",
         data: data, // serializes the form's elements.
         beforeSend: function(request) {
           request.setRequestHeader("X-CSRFToken", "{{ add_cards_form.csrf_token._value() }}")
         },
         success: function (data) {
           footer.removeClass('d-none')

           if (data == 'success') {
             $('#addCardsSuccess').removeClass('d-none')
           }
           else {
             $('#addCardsFailure').removeClass('d-none')
           }
         },
         error: function(data) {
           footer.removeClass('d-none')
           $('#addCardsFailure').removeClass('d-none')
         }
       })
     })
   });
  </script>
{% endblock scripts %}
