{% extends "cube_base.html" %}


{% block cube_section %}
  Cards
{% endblock %}


{% block more_nav %}

  <li>
    <a href="#addCardsModal" data-toggle="modal">
      Add/Remove Cards
    </a>
  </li>

  <li>
    <a href="{{ url_for('card_creator', cube_id=cube.id) }}">
      Create an Original Card
    </a>
  </li>

  <li>
    <a href="#" onclick="toggle_search()">
      Search
    </a>
  </li>

{% endblock more_nav %}

{% block content %}
  {{ super() }}

  <!-- Search Bar -->
  <div id="search-bar" class="row d-none">
    <div class="col framed">
      <div class="search-option"
           data-field="name"
           data-format="text">
      </div>

      <div class="search-option"
           data-field="oracle_text"
           data-format="text">
      </div>

      <!-- <div class="search-option"
           data-field="colors"
           data-format="enum"
           data-options="white,blue,black,red,green,colorless">
           </div>
      -->
      <div class="search-option"
           data-field="type_line"
           data-format="text">
      </div>

      <div class="search-option"
           data-field="power"
           data-format="number">
      </div>

      <div class="search-option"
           data-field="toughness"
           data-format="number">
      </div>

      <div class="search-option"
           data-field="flavor_text"
           data-format="text">
      </div>
    </div>

    <div id="search-parameters" class="col-6 framed">
      <div>
        Search Parameters
      </div>

      <div id="search-details" style="flex-grow: 2;">

      </div>

      <div style="text-align: right;">
        <button class="btn btn-warning" type="button" onclick="clear_search()">clear</button>
        <button class="btn btn-primary" type="button" onclick="do_search()">search</button>
      </div>
    </div>
  </div>
  <!-- END: Search Bar -->


  <!-- Formatted Cards Table -->
  <div id="cards" class="row card-table mt-2">

    {% for col in t.columns %}
      <div class="col table-column">
        <div class="table-column-header">
          {{ col.header }} ({{ col.num_cards() }})
        </div>

        {% for section in col.sections %}
          <div class="table-section {{ col.color_class }}">

            <div class="table-section-header">
              {{ section.header }} ({{ section.num_cards() }})
            </div>

            {% for card in section.cards %}
              {% if card.section_divider == 'table-section-divider' %}
                <div class="card-list-divider">
                  <span class="bar"></span>
                  {% if card.cmc() < 10 %}
                    {% set cmc = card.cmc() %}
                  {% else %}
                    {% set cmc = 10 %}
                  {% endif %}

                  {% for n in range(cmc) %}
                    {% if (n % 5) == 4 %}
                      <span class="small-dot"></span>
                    {% else %}
                      <span class="tiny-dot"></span>
                    {% endif %}
                  {% endfor %}
                  <span class="bar"></span>
                </div>
              {% endif %}
              <p
                class="card-list-item"
                data-card-id="{{ card.id }}"
                data-front="{{ card.image_front() }}"
                {% if card.image_back() %}
                  data-back="{{ card.image_back() }}"
                {% endif %}
              >
                {% if cube.style_a == 'legacy' %}
                  {% if card.linked_achievements() %}
                    <i class="fab fa-font-awesome-flag"></i>
                  {% endif %}
                  {% if card.get_diff()['is_major'] %}
                    <i class="fas fa-bolt"></i>
                  {% elif card.get_diff()['is_minor'] %}
                    <i class="fas fa-bolt text-muted"></i>
                  {% endif %}
                {% endif %}

                <a href="{{ url_for('card_editor', card_id=card.id) }}">
                  {{ card.name() }}
                </a>
              </p>
            {% endfor %}

          </div>
        {% endfor %}

      </div>
    {% endfor %}

  </div>
  <!-- END: Formatted Cards Table -->


  {% if cube.style_a == 'legacy' %}
    <div class="row">

      <!-- Removed Cards -->
      <div class="col framed">
        <div>
          <h4>Removed Cards</h4>
          <table class="table table-sm">
            <thead class="thead thead-light">
              <th>card name</th>
              <th>removed by</th>
              <th></th>
            </thead>
            <tbody>
              {% for card in cube.cards_removed() %}
                <tr>
                  <td>{{ card.name() }}</td>
                  <td>{{ card.removed_by.name }}</td>
                  <td>
                    <a href="{{ url_for('card_editor', card_id=card.id, read_only='true') }}">
                      view
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END: Removed cards -->

      <!-- Added Cards -->
      <div class="col framed">
        <div>
          <h4>Added Cards</h4>
          <table class="table table-sm">
            <thead class="thead thead-light">
              <th>card name</th>
              <th>removed by</th>
              <th></th>
            </thead>
            <tbody>
              {% for card in cube.cards_added() %}
                <tr>
                  <td>{{ card.name() }}</td>
                  <td>{{ card.added_by.name }}</td>
                  <td>
                    <a href="{{ url_for('card_editor', card_id=card.id, read_only='true') }}">
                      view
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END: Added cards -->


      <!-- Recent edits -->
      <div class="col framed">
        <div>
          <h4>Recent Edits</h4>
          <table class="table table-sm">
            <thead class="thead thead-light">
              <th>card name</th>
              <th>updated by</th>
              <th></th>
            </thead>
            <tbody>
              {% for card in cube.cards_updated(limit=20) %}
                <tr>
                  <td>{{ card.name() }}</td>
                  <td>{{ card.edited_by.name }}</td>
                  <td>
                    <a href="{{ url_for('card_editor', card_id=card.latest_id, read_only='true') }}">
                      view
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- END: Recent edits -->

    </div>
  {% endif %}


  {% if cube.style_a == 'legacy' %}
    <!-- Renamed Cards Finder -->
    <div class="row">
      <div class="col framed">
        <h5>Renamed Card Finder</h5>
        <ul class="list-unstyled">
          {% for card in cw.cards() %}
            {% set name_diff = card.get_diff()['faces'][0]['name'] %}
            {% if name_diff['is_changed'] %}
              <li>
                <a href="{{ url_for('card_editor', card_id=card.id) }}">
                  {{ name_diff['original'] }} &#x2014; {{ name_diff['latest'] }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- END: Renamed Cards Finder -->
  {% endif %}



  <!-- Add Cards Modal -->
  <div class="modal fade" id="addCardsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add/Remove Cards</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <form action="" method="post" id="addCardsForm" novalidate>
            {{ add_cards_form.hidden_tag() }}
            <div class="form-group">
              {{ add_cards_form.cardnames.label }}
              {{ add_cards_form.cardnames(class='form-control') }}
            </div>

            <div class="form-group">
              {{ add_cards_form.add_as_starter() }}
              {{ add_cards_form.add_as_starter.label }}
            </div>

            <div class="form-group">
              {{ add_cards_form.comment.label }}
              {{ add_cards_form.comment(class="form-control") }}
            </div>
          </form>
          <button class="btn btn-primary" type="button" id="addCardsButton">Add/Remove Cards</button>

          <div id="addCardsWaitMessage" class="d-none">
            <hr>

            <p class="text-danger">
              Now loading cards. This can take a few seconds to several minutes, depending on how many cards you have added.
            </p>
            <p>A message will be displayed here when the loading has completed.</p>
          </div>
        </div>

        <div class="modal-footer d-none">
          <div id="addCardsSuccess" class="text-success d-none">
            Cards added successfully!
          </div>

          <div id="addCardsFailure" class="text-warning d-none">
            There was an error while loading the cards. Reload the page to see if they were actually added.
          </div>

          <a
            id="#reloadPage"
            href="{{ url_for('cube_cards', cube_id=cube.id) }}"
            class="btn btn-primary">
            Reload Page
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Add Cards Modal -->

{% endblock content %}

{% block scripts %}
  <script>
   var search_json = {{ cw.search_json()|tojson }}
   var search_keys = []

   function do_search() {
     $.ajax({
       type: 'POST',
       url: "{{ url_for('cube_search', cube_id=cube.id) }}",
       data: JSON.stringify(search_json),
       contentType: "application/json; charset=utf-8",
       success: function(search_id) {
         window.location.href = "{{ url_for('cube_cards', cube_id=cube.id) }}?search_id=" + search_id
       },
     })
   }

   function clear_search() {
     search_json = {}
     redraw_search_parameters()
   }

   function add_search_parameter() {
     const opt = $(this).parents('.search-option')
     const field = opt.data('field')
     const operator = opt.find('.search-operator select').val()
     let value = opt.find('.search-input input').val().trim()

     if (!value) {
       return
     }

     if (operator == '=' || operator == '>=' || operator == '<=') {
       value = parseInt(value)
     }

     if (!search_json[field]) {
       search_json[field] = []
     }

     search_json[field].push({
       key: value,
       operator: operator
     })

     redraw_search_parameters()
   }

   function redraw_search_parameters() {
     const root_elem = $('#search-details').empty()

     search_keys.forEach(key => {
       const options = search_json[key.field]
       if (options) {
         const key_elem = $('<div>')
           .addClass('search-params-group')
           .append($('<div>')
             .addClass('search-params-key')
             .text(key.field))

         options.forEach(opt => {
           const opt_elem = $('<div>')
             .addClass('search-params-option')
           const operator_elem = $('<div>')
             .addClass('search-params-operator')
             .text(opt.operator)
           const value_elem = $('<div>')
             .addClass('search-params-value')
             .text(opt.key)
           opt_elem
             .append(operator_elem)
             .append(value_elem)
           key_elem
             .append(opt_elem)
           root_elem
             .append(key_elem)
         })
       }
     })
   }

   function toggle_search() {
     const elem = $('#search-bar')
     if (elem.hasClass('d-none')) {
       elem.removeClass('d-none')
     }
     else {
       elem.addClass('d-none')
     }
   }

   function toTitleCase(str) {
     return str.replace(
       /\w\S*/g,
       function(txt) {
         return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
       }
     );
   }

   $(document).ready(function() {

     $(".search-option").each(function() {
       const elem = $(this)
       const field_name = elem.data('field')
       const format = elem.data('format')

       // Store the search keys to help with display
       search_keys.push({
         field: field_name,
         format: format
       })

       // Name
       const display_name = toTitleCase(field_name.replace('_', ' '))
       const display_name_elem = $('<div>')
         .text(display_name)
         .addClass('search-field')
       elem.append(display_name_elem)

       // Operators
       let operators
       if (format == 'text' || format == 'enum') {
         operators = ['and', 'not']
       }
       else if (format == 'number') {
         operators = ['=', '<=', '>=']
       }
       else {
         throw `Unknown search-option-format ${format}`
       }

       const select_elem = $('<select>')
         .addClass('form-control')
       operators.forEach(op => {
         const option = $('<option>').text(op)
         select_elem.append(option)
       })
       const operator_div = $('<div>')
         .addClass('search-operator')
         .append(select_elem)
       elem.append(operator_div)

       // Input
       const input = $('<input>')
         .attr('type', 'text')
         .addClass('form-control')
       const input_div = $('<div>')
         .addClass('search-input')
         .append(input)
       elem.append(input_div)

       // Add Button
       const add_button = $('<button>')
         .addClass('btn btn-secondary')
         .text('add')
         .click(add_search_parameter)
       const button_div = $('<div>')
         .addClass('search-add')
         .append(add_button)
       elem.append(button_div)
     })

     redraw_search_parameters()

   })
  </script>

  <script>
   $(document).ready(function() {
     {% if cube.style_a == 'legacy' %}
       autocard_init('card-list-item', true)
       window.clo.card_data = {{ cw.card_data()|tojson }}
     {% else %}
       autocard_init('card-list-item', false)
     {% endif %}

     $('#addCardsButton').click(function () {
       let modal = $('#addCardsModal')
       let body = modal.find('.modal-body')
       let footer = modal.find('.modal-footer')
       let data = $('#addCardsForm').serialize()

       // Prevent clicking on the submit button more than once.
       body.find('button').hide()

       // Prevent changes to the form after submitting.
       $('#addCardsForm').find('input, textarea').attr('disabled', 'disabled')

       // Show the loading message
       $('#addCardsWaitMessage').removeClass('d-none')

       $.ajax({
         type: "POST",
         url: "{{ url_for('cube_add_cards', cube_id=cube.id) }}",
         data: data,
         beforeSend: function(request) {
           request.setRequestHeader("X-CSRFToken", "{{ add_cards_form.csrf_token._value() }}")
         },
         success: function (data) {
           footer.removeClass('d-none')

           if (data == 'success') {
             $('#addCardsSuccess').removeClass('d-none')
           }
           else {
             $('#addCardsFailure').removeClass('d-none')
           }
         },
         error: function(data) {
           footer.removeClass('d-none')
           $('#addCardsFailure').removeClass('d-none')
         }
       })
     })
   });
  </script>
{% endblock scripts %}
