{% extends 'base.html' %}

{% macro card_column(card_set) %}


  <div class="col">

    <!-- Header Row -->
    <div class="row">
      <div class="col col-3">
        <h5>Main Deck</h5>
      </div>

      <div class="col col-3">
        <h5>Sideboard</h5>
      </div>
    </div>
    <!-- END: Header Row -->

    <!-- Land Row -->
    <div class="row">
      <div class="col col-3 framed">
        <div class="card-list-divider">
          <p>land</p>
        </div>

        <ul class="list-unstyled card-list sortable">
          {% for card in card_set.maindeck().land().cards %}
            <li class="card-list-item">{{ card.cube_card.name() }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="col col-3 framed">
        <div class="card-list-divider">
          <p>land</p>
        </div>
        

        <ul class="list-unstyled card-list sortable">
          {% for card in card_set.sideboard().land().cards %}
            <li class="card-list-item">{{ card.cube_card.name() }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- END: Land Row -->

    {% for cmc in range(8) %}

      {# Cards under this header #}
      {% if header == 7 %}
        {% set cards = card_set.cmc_gte(7) %}
        {% set cmc_string = '7+' %}
      {% else %}
        {% set cards = card_set.cmc(cmc) %}
        {% set cmc_string = cmc %}
      {% endif %}

      {# Maindeck/Sideboard breakdown #}
      {% set maindeck = cards.maindeck() %}
      {% set sideboard = cards.sideboard() %}

      <div class="row">
        <div class="col col-3 framed">
          <div class="card-list-divider">
            <p>creatures {{ cmc_string }}</p>
          </div>
          
          <ul class="list-unstyled card-list sortable">
            {% for card in maindeck.creatures().cards %}
              <li class="card-list-item">{{ card.cube_card.name() }}</li>
            {% endfor %}
          </ul>

          <div class="card-list-divider">
            <p>other {{ cmc_string }}</p>
          </div>

          <ul class="list-unstyled card-list sortable">
            {% for card in maindeck.other().cards %}
              <li class="card-list-item">{{ card.cube_card.name() }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="col col-3 framed">
          <div class="card-list-divider">
            <p>creatures {{ cmc_string }}</p>
          </div>
          

          <ul class="list-unstyled card-list sortable">
            {% for card in sideboard.creatures().cards %}
              <li class="card-list-item">{{ card.cube_card.name() }}</li>
            {% endfor %}
          </ul>

          <div class="card-list-divider">
            <p>other {{ cmc_string }}</p>
          </div>

          <ul class="list-unstyled card-list sortable">
            {% for card in sideboard.other().cards %}
              <li class="card-list-item">{{ card.cube_card.name() }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

    {% endfor %}
  </div>
{% endmacro %}


{% block content %}
  <div class="row">
    <div class="col framed">
      <h5>{{ d.draft.name }}</h5>
    </div>
  </div>

  <div class="row mt-2 deckbuilder">
    <div class="col col-1">
    </div>

    {{ card_column(d.card_set) }}
  </div>


  <!-- Card Image Popup -->
  <div class="d-none" id="autocardPopup" style="z-index: 500; right: 514px; bottom: 7px;">
    <div class="autocard-background">
      <div class="row no-gutters">
        <div class="position-relative">
          <img id="autocardImageFront" alt="">
        </div>
        <div class="position-relative">
          <img id="autocardImageBack" alt="" class="d-none">
        </div>
      </div>
    </div>
  </div>
  <!-- END: Card Image Popup -->

{% endblock content %}

{% block scripts %}
  <script>
   $(document).ready(function() {
     $( ".sortable" ).sortable({
       connectWith: '.card-list',
       placeholder: 'sortable-highlight',
       start: function(e, ui){
         ui.placeholder.height(ui.item.height());
       }
     });
     $( ".sortable" ).disableSelection();     
   })
  </script>
{% endblock scripts %}
