{% extends 'base.html' %}

{% macro card_list(header, cards) %}
  <div class="card-list-divider">
    <p>{{ header }}</p>
  </div>
  
  <ul class="list-unstyled card-list sortable">
    {% for pack_card in cards %}
      {% set card = pack_card.cube_card %}
      <li
        class="card-list-item"
        data-front="{{ card.image_front() }}"
        {% if card.image_back() %}
          data-back="{{ card.image_back() }}"
        {% endif %}
      >
        {{ card.name() }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% macro card_column(card_set) %}
  <div class="col">

    <!-- Header Row -->
    <div class="row">
      
      <div class="col col-3 text-center">
        <h5>Main Deck</h5>
      </div>

      <div class="col col-3 text-center">
        <h5>Sideboard</h5>
      </div>
      
    </div>
    <!-- END: Header Row -->

    <!-- Land Row -->
    <div class="row">
      
      <div class="col col-3 framed">
        {{ card_list('land', card_set.maindeck().land().cards) }}
      </div>
      
      <div class="col col-3 framed">
        {{ card_list('land', card_set.sideboard().land().cards) }}
      </div>

    </div>
    <!-- END: Land Row -->

    {% for cmc in range(8) %}

      {# Cards under this header #}
      {% if header == 7 %}
        {% set cards = card_set.cmc_gte(7) %}
        {% set cmc_string = '7+' %}
      {% else %}
        {% set cards = card_set.cmc(cmc) %}
        {% set cmc_string = cmc|string %}
      {% endif %}

      {# Maindeck/Sideboard breakdown #}
      {% set maindeck = cards.maindeck() %}
      {% set sideboard = cards.sideboard() %}

      <div class="row">
        <div class="col col-3 framed">
          {{ card_list('creatures '+cmc_string, maindeck.creatures().cards) }}
          {{ card_list('other '+cmc_string, maindeck.other().cards) }}
        </div>

        <div class="col col-3 framed">
          {{ card_list('creatures '+cmc_string, sideboard.creatures().cards) }}
          {{ card_list('other '+cmc_string, sideboard.other().cards) }}
        </div>
      </div>

    {% endfor %}
  </div>
{% endmacro %}


{% block content %}
  <div class="row">
    <div class="col framed">
      <h5>{{ d.draft.name }}</h5>
    </div>
  </div>

  <div class="row mt-2 deckbuilder justify-content-center">
    {{ card_column(d.card_set) }}
  </div>


  <!-- Card Image Popup -->
  <div class="d-none" id="autocardPopup" style="z-index: 500; right: 514px; bottom: 7px;">
    <div class="autocard-background">
      <div class="row no-gutters">
        <div class="position-relative">
          <img id="autocardImageFront" alt="">
        </div>
        <div class="position-relative">
          <img id="autocardImageBack" alt="" class="d-none">
        </div>
      </div>
    </div>
  </div>
  <!-- END: Card Image Popup -->

{% endblock content %}

{% block scripts %}
  <script>
   autocard_init('card-list-item')

   $(document).ready(function() {
     $( ".sortable" ).sortable({
       connectWith: '.card-list',
       placeholder: 'sortable-highlight',
       start: function(e, ui){
         ui.placeholder.height(ui.item.height());
       }
     });
     $( ".sortable" ).disableSelection();     
   })
  </script>
{% endblock scripts %}
