{% extends "base.html" %}

{% from "macros/card_list.html" import show_draft_card_list %}
{% from "macros/deck_builder.html" import deck_builder %}
{% from "macros.html" import show_achievement %}
{% from "macros.html" import show_picked_card_names %}

{% macro seating_chart(d) %}
  <h2>Seating</h2>
  <table id="seating" class="table table-sm">
    <tr>
      <thead class="thead-light">
        <th></th>
        <th></th>
        <th colspan="{{ d.draft.num_packs }}">num picks made / packs waiting</th>
        <th></th>
      </thead>
      <thead class="thead-light">
        <th>player</th>
        <th>waiting</th>
        {% for pack in range(d.draft.num_packs) %}
          <th>{{ loop.index }}</th>
        {% endfor %}

        {% if config.FLASK_ENV == 'development' %}
          <th></th>
        {% endif %}

      </thead>
    </tr>

    <tbody>
      {% for s in d.seats %}
        <tr>
          <td>{{ s.user.name }}</td>
          <td>
            {% if s.waiting_pack() %}
              <i class="fas fa-check"></i>
            {% endif %}
          </td>
          {% for idx in range(d.draft.num_packs) %}
            <td>
              {{ s.num_picked_for_round(idx) }}
              /
              {% if s.num_picked_for_round(idx) == d.draft.pack_size %}
                <span>
              {% else %}
                  <span class="text-warning">
              {% endif %}
              {{ s.waiting_packs()[idx]|length }}
                  </span>
            </td>
          {% endfor %}

          {% if config.FLASK_ENV == 'development' %}
            <td>
              <a href="{{ url_for('draft_force', draft_id=d.draft.id, user_id=s.user_id) }}">force</a>
            </td>
          {% endif %}

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro match_results(d) %}
  <h3>Your Results</h3>
  <table class="table table-sm">
    <thead class="thead-light">
      <th>opponent</th>
      <th>results</th>
      <th></th>
    </thead>
    <tbody>
      {% for seat in d.seats %}
        {% if seat != d.seat %}
          {% set form = d.result_form_for(seat) %}
          <form action="{{ url_for('draft_result', draft_id=d.draft.id) }}" method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ form.user_id() }}
            <tr>
              <td>{{ seat.user.name }}</td>
              <td>
                W{{ form.wins(size="3") }}
                L{{ form.losses(size="3") }}
                D{{ form.draws(size="3") }}
              </td>
              <td>{{ form.submit() }}</td>
            </tr>
          </form>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <h3>All Results</h3>
  <table class="table table-striped table-sm">
    <tbody>
      <tr>
        <td></td>
        {% for seat in d.seats %}
          <td>{{ seat.user.name }}</td>
        {% endfor %}
      </tr>

      {% for seat1 in d.seats %}
        <tr>
          <td>{{ seat1.user.name }}</td>
          {% for seat2 in d.seats %}
            <td>
              {% if seat1 == seat2 %}
                &times;
              {% else %}
                {{ d.results(seat1, seat2) }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block title_suffix %}
  Draft - {{ d.draft.name }}
{% endblock %}


{% block content %}

  <div class="row">
    <!-- Draft Info -->
    <div class="col col-md-4 framed p-2">
      <ul class="list-unstyled">
        <li><strong>Draft: </strong>{{ d.draft.name }}</li>
        <li>
          <strong>Cube: </strong>
          <a href="{{ url_for('cube_cards', cube_id=d.draft.cube.id) }}">
            {{ d.draft.cube.name }}
          </a>
        </li>
        <li><strong>Packs: </strong>{{ d.draft.num_packs }}</li>
        <li><strong>Pack size: </strong>{{ d.draft.pack_size }}</li>
        {% if d.draft.scar_rounds_str %}
          <li><strong>Scar rounds: </strong>{{ d.draft.scar_rounds_str }}</li>
        {% endif %}
      </ul>

      <p class="text-secondary border-bottom mb-0">Cockatrice Custom Set</p>
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id) }}">
        Download Cockatrice Custom Cards File
      </a>
      <br>
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id, force_rebuild='true') }}">
        Rebuild File
      </a>

    </div>
    <!-- END: Draft Info -->

    <!-- Seating / Results -->
    <div class="col framed ml-2">
      {% if d.draft.complete %}
        {{ match_results(d) }}
      {% else %}
        {{ seating_chart(d) }}
      {% endif %}
    </div>
    <!-- END: Seating / Results -->

  </div>

  <div class="row mt-2">
    <!-- Draft Messages -->
    <div class="col col-md-4 framed">
      <h5>Messages</h5>
        {% for message in d.draft.messages|sort(attribute=timestamp, reverse=True) %}
          <p class="text-secondary text-s mb-1">{{ message.text }}</p>
        {% endfor %}
    </div>
    <!-- END: Draft Messages -->

    <!-- Face up cards -->
    {% if d.face_up_cards() %}
      <div class="col framed ml-2">
        <h5>Faceup Cards</h5>
        <div class="row ml-0 mr-0">
          {% for seat, cards in d.face_up_cards().items() %}
            <div class="col framed ml-2">
              <p class="mb-0"><strong>{{ seat.user.name }}</strong></p>
              {% for card in cards %}
                <p
                  class="card-list-item"
                  data-front="{{ card.cube_card.image_front() }}"
                  {% if card.cube_card.image_back() %}
                    data-back="{{ card.cube_card.image_back() }}"
                  {% endif %}
                >
                  {{ card.cube_card.name() }}
                </p>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <!-- END: Face up cards -->
  </div>

  <!-- Scars to Add -->
  {% if d.is_scarring_round() %}
    <div class="row">
      <div id="scars" class="col mt-2 framed bg-warning">
        <h3>Scarring Round</h3>
        {% for scar in d.pack.scar_options() %}
          <div class="m-2 p-2 framed row">
            <div class="col col-1 btn btn-success">
              Scar {{ loop.index }}
            </div>

            <div class="col">
              <ul class="list-unstyled mb-0">
                <li>{{ scar.text }}</li>
                <li class="text-secondary text-s ml-2">{{ scar.restrictions }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}
        <a href="{{ url_for('draft_new_scars', draft_id=d.draft.id) }}">
          I need new scars
        </a>
      </div>
    </div>
  {% endif %}
  <!-- END: Scars to Add -->

  <!-- Card Picker -->
  {% if not d.draft.complete %}
    <div id="picker" class="no-gutters mt-2">
      <h2 class="text-primary">Card Picker</h2>
      {% if d.draft.complete %}
        <p>draft is complete</p>
      {% elif not d.pack %}
        <div class="btn btn-success">no packs waiting for you right now</div>
      {% else %}
        <p>
          Pack {{ d.pack.pack_number + 1 }} /
          Pick {{ d.pack.pick_number() }} /
          Passing to: {{ d.passing_to().name }}
        </p>

        {{ show_draft_card_list(d.pack.cards, d.draft.id) }}
      {% endif %}
    </div>
  {% endif %}
  <!-- END: Card Picker -->

  {{ deck_builder(d.deck_builder()) }}

  <div class="row">
    <div class="col framed">
      <h4>Starred Achievements</h4>
      {% for star in current_user.achievements_starred %}
        {% set ach = star.achievement %}
        {% if ach.cube_id == d.draft.cube_id and not ach.unlocked_by_id %}
          {{ show_achievement(ach, current_user) }}
        {% endif %}
      {% endfor %}
    </div>

    <!-- Picked Cards -->
    <div class="col framed">
      <h4>Legacy Card Names</h4>
      <p class="text-secondary text-s">Use these if you have loaded the custom cockatrice card XML</p>
      <ul class="list-unstyled">
        {% for line in d.deck_builder().deck_list(legacy_names=True) %}
          <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col framed">
      <h4>Standard Card Names</h4>
      <ul class="list-unstyled">
        {% for line in d.deck_builder().deck_list() %}
          <li>{{ line }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- END: Picked Cards -->

  </div>


  <!-- Draft Faceup Optional Modal -->
  <div class="modal fade" id="draftFaceUpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">How do you want to draft this card?</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <h6 id="cardName"></h6>
          <div class=" d-flex justify-content-between">
            <a id="pickFaceUp" class="btn btn-primary">Face Up</a>
            <a id="pickFaceDown" class="btn btn-secondary">Face Down</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Draft Faceup Optional Modal -->
{% endblock content %}


{% block scripts %}
  <script src="/static/js/deck_builder.js?version={{ version }}"></script>
  <script>
   function fill_card_frames() {
     $('.closeup-card-wrapper').each(function() {
       let elem = $(this)
       let card_id = elem.data('card-id')
       let data = window.card_data[card_id]
       if (!data) {
         console.log(card_id)
         return
       }

       clo.util.draw_card_frame(elem, data)
     })
   }

   $(document).ready(function() {

     {% set cube = d.draft.cube %}
     {% if cube.style_a == 'legacy' %}
       autocard_init('card-list-item', true)
       window.card_data = {{ cube.card_data()|tojson }}
     {% else %}
       autocard_init('card-list-item', false)
     {% endif %}

     fill_card_frames()

     $('#draftFaceUpModal').on('show.bs.modal', function (event) {
       let button = $(event.relatedTarget) // Button that triggered the modal
       let card_name = button.data('card-name')
       let card_id = button.data('card-id')

       let modal = $(this)

       let url = "/draft/" + {{ d.draft.id }} + "/pick/" + card_id + "?face_up="

       modal.find('#cardName').text(card_name)
       modal.find('#pickFaceUp').attr('href', url + 'true')
       modal.find('#pickFaceDown').attr('href', url + 'false')
     })
   })
  </script>
{% endblock scripts %}
