{% extends "base.html" %}

{% block title %}
  Debugger: {{ d.draft.name }} ({{d.draft.id}})
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <h3>Players</h3>
      <table class="table">
        <thead>
          <td>seat</td>
          <td>name</td>
          <td>user_id</td>
          <td></td>
        </thead>
        <tbody>
          {% for p in d.seats %}
            <tr>
              <td>{{ p.order }}</td>
              <td>{{ p.user.name }}</td>
              <td>{{ p.user.id }}</td>
              <td>
                <a href="{{ url_for('draft_undo', draft_id=d.draft.id, user_id=p.user.id) }}" class="text-warning">
                  undo last pick
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col col-md-4">
        <a class="btn btn-danger" href="{{ url_for('draft_kill', draft_id=d.draft.id) }}">kill</a>
    </div>
  </div>  <!-- Players -->

  {% for p in d.seats %}
    <h4 class="mt-2">Packs for {{ p.user.name }} in seat {{ p.order }}</h4>
    <div class="row">
      {% for pack in d.packs_for(p) %}
        <div class="col">
          <p class="m-0">
            <a href="{{ url_for('pack_debug', pack_id=pack.id) }}">
              <strong>Pack: {{ pack.pack_number }}, id: {{ pack.id }}</strong>
            </a>
          </p>
          <p class="m-0">
            <strong>Num Picked: </strong>{{ pack.num_picked }}
          </p>
          {% if pack.next_seat_order() != None %}
            <p class="m-0 text-info">Next:
              {{ pack.next_seat.user.name }} :
              {{ pack.next_seat.order }}
            </p>
          {% endif %}
          <p class="m-0">{{ pack.direction() }}: {{ pack.seat_ordering() }}</p>

          {% for card in pack.picked_cards() %}
            <div class="m-0 d-flex justify-content-between">
              <div>
                {{ card.id }}.
                <span class="text-primary">
                  {{ card.cube_card.name() }}
                </span>
              </div>
              <div class="text-info">(
                {{ card.picked_by.user.name  }} :
                {{ card.picked_by.order }}
                )</div>
            </div>
          {% endfor %}

          {% for card in pack.unpicked_cards() %}
            <p class="text-secondary m-0">{{ card.cube_card.name() }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div> <!-- Packs -->
  {% endfor %}
{% endblock %}
