{% from "macros.html" import show_card_list %}

{% extends "base.html" %}

{% block title %}
  {{ d.draft.name }}
{% endblock %}

{% block content %}

  <!-- Seating Chart -->
  <div id="seating">
    <h2>Seating</h2>
    <table id="seating" class="table table-sm">
      <tr>
        <thead class="thead-light">
          <th></th>
          <th></th>
          <th colspan="{{ d.draft.num_packs }}">num picks made</th>
          <th></th>
        </thead>
        <thead class="thead-light">
          <th>player</th>
          <th>waiting</th>
          {% for pack in range(d.draft.num_packs) %}
            <th>{{ loop.index }}</th>
          {% endfor %}
          <th></th>
        </thead>
      </tr>

      <tbody>
        {% for s in d.seats %}
          <tr>
            <td>{{ s.user.name }}</td>
            <td>{{ s.waiting_packs()|length }}</td>
            {% for pack in range(d.draft.num_packs) %}
              <td>{{ s.num_picked_for_round(loop.index - 1) }}</td>
            {% endfor %}
            <td>
              <a href="/draft/{{d.draft.id}}/force/{{s.user.id}}">force</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- END: Seating Chart -->

  <!-- Card Picker -->
  <div id="picker" class="no-gutters">
    <h2 class="text-primary">Card Picker</h2>
    {% if d.draft.complete %}
      <p>draft is complete</p>
    {% elif not d.pack %}
      <p>no packs waiting for you right now</p>
    {% else %}
      <p>
        Pack {{ d.pack.pack_number + 1 }} /
        Pick {{ d.pack.pick_number() }} /
        Passing to: {{ d.passing_to().name }}
      </p>

      {{ show_card_list(d.pack.unpicked_cards(), d.draft.id) }}
    {% endif %}
  </div>
  <!-- END: Card Picker -->

  <!-- Picked Cards -->
  <div id="picks" class="no-gutters">
    <h2 class="text-secondary">Your Picks</h2>
    {{ show_card_list(d.seat.picks, None) }}
  </div>
  <!-- END: Picked Cards -->

{% endblock %}
