{% from "macros.html" import format_multi_line_text %}
{% from "macros.html" import show_card_list %}
{% from "macros.html" import show_picked_card_names %}

{% extends "base.html" %}

{% block title %}
  {{ d.draft.name }}
{% endblock %}

{% block content %}
  <div class="row">

    <!-- Match Results -->
    <div class="col">
      <h3>Your Results</h3>
      <table class="table">
        <thead class="thead-light">
          <th>opponent</th>
          <th>results</th>
          <th></th>
        </thead>
        <tbody>
          {% for seat in d.seats %}
            {% if seat != d.seat %}
              {% set form = d.result_form_for(seat) %}
              <form action="{{ url_for('draft_result', draft_id=d.draft.id) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.user_id() }}
                <tr>
                  <td>{{ seat.user.name }}</td>
                  <td>
                    W{{ form.wins(size="3") }}
                    L{{ form.losses(size="3") }}
                    D{{ form.draws(size="3") }}
                  </td>
                  <td>{{ form.submit() }}</td>
                </tr>
              </form>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h3>All Results</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td></td>
            {% for seat in d.seats %}
              <td>{{ seat.user.name }}</td>
            {% endfor %}
          </tr>
          
          {% for seat1 in d.seats %}
            <tr>
              <td>{{ seat1.user.name }}</td>
              {% for seat2 in d.seats %}
                <td>
                  {% if seat1 == seat2 %}
                    &times;
                  {% else %}
                    {{ d.results(seat1, seat2) }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- END: Match Results -->

    <!-- Deck Info -->
    <div class="col">
      <div class="mt-2 bg-light border p-2">
        <h3>Cockatrice Custom Set</h3>
        <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id) }}">
          <button class="btn btn-primary">Download Cockatrice Cards XML</button>
        </a>
        
        <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id, force_rebuild='true') }}">
          <button class="btn btn-secondary">Rebuild</button>
        </a>
      </div>

      {% if d.decklist %}
        <div class="mt-2 bg-light border p-2">
          <h4>Deck List</h4>
          <p class="text-primary">{{ d.decklist.name }}</p>
          <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#mainboard">
            Main Deck
          </button>          
          <button class="btn btn-warning" type="button" data-toggle="collapse" data-target="#sideboard">
            Sideboard
          </button>

          <div id="mainboard" class="mt-2 p-2 collapse border">
            <strong>Main Deck</strong> ({{ d.decklist.mainboard()|length }})
            {{ format_multi_line_text('\n'.join(d.decklist.mainboard())) }}
          </div>

          <div id="sideboard" class="mt-2 p-2 collapse border">
            <strong>Sideboard</strong> ({{ d.decklist.sideboard()|length }})
            {{ format_multi_line_text('\n'.join(d.decklist.sideboard())) }}
          </div>
        </div>
      {% endif %}

      <!-- Save decklist -->
      <div id="saveDecklistForm" class="mt-2 bg-light border p-2">
        <form action="{{ url_for('draft_save_decklist', draft_id=d.draft.id) }}" method="POST" novalidate>
          {{ dlform.hidden_tag() }}
          <div class="form-group">
            {{ dlform.name.label }}
            {{ dlform.name(class="form-control", placeholder="eg. RG Aggro") }}
          </div>
          <div class="form-group">
            {{ dlform.decklist.label }}
            {{ dlform.decklist(class="form-control", placeholder="Cockatrice -> Deck Editor -> Save to Clipboard -> Not Annotated") }}
          </div>
          {{ dlform.submit(class="btn btn-primary") }}
        </form>
      </div>
      <!-- END: Save decklist -->
    </div>
    <!-- END: Deck Info -->
  </div>

  <!-- Picks -->
  <div class="row">
    <div class="col">
      <h3>Your Picks</h3>
    </div>
  </div>
  {{ show_card_list(d.seat.picks) }}

  <hr>
  
  {{ show_picked_card_names(d.seat) }}
  <!-- END: Picks -->
{% endblock content %}

{% block scripts %}
  <script>
   {% if d.decklist %}
   $(document).ready(function() {
     $('#saveDecklistForm').hide()
   })
   {% endif %}
  </script>
{% endblock scripts %}
