{% from "macros.html" import show_card_list %}
{% from "macros.html" import show_draft_card_list %}
{% from "macros.html" import show_picked_card_names %}
{% from "macros.html" import show_picks_breakdown_table %}

{% extends "base.html" %}

{% block content %}

  <div class="row">
    <!-- Draft Info -->
    <div class="col col-md-4 border bg-light p-2">
      <ul class="list-unstyled">
        <li><strong>Draft: </strong>{{ d.draft.name }}</li>
        <li>
          <strong>Cube: </strong>
          <a href="{{ url_for('cube_cards', cube_id=d.draft.cube.id) }}">
            {{ d.draft.cube.name }}
          </a>
        </li>
        <li><strong>Packs: </strong>{{ d.draft.num_packs }}</li>
        <li><strong>Pack size: </strong>{{ d.draft.pack_size }}</li>
        {% if d.draft.scar_rounds_str %}
          <li><strong>Scar rounds: </strong>{{ d.draft.scar_rounds_str }}</li>
        {% endif %}
      </ul>

      <p class="text-secondary border-bottom mb-0">Cockatrice Custom Set</p>
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id) }}">
        Download Cockatrice Custom Cards File
      </a>
      <br>
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id, force_rebuild='true') }}">
        Rebuild File
      </a>
      
    </div>
    <!-- END: Draft Info -->
    
    <!-- Seating Chart -->
    <div class="col-md-8" id="seating">
      <h2>Seating</h2>
      <table id="seating" class="table table-sm">
        <tr>
          <thead class="thead-light">
            <th></th>
            <th></th>
            <th colspan="{{ d.draft.num_packs }}">num picks made</th>
            <th></th>
          </thead>
          <thead class="thead-light">
            <th>player</th>
            <th>waiting</th>
            {% for pack in range(d.draft.num_packs) %}
              <th>{{ loop.index }}</th>
            {% endfor %}
            <th></th>
          </thead>
        </tr>

        <tbody>
          {% for s in d.seats %}
            <tr>
              <td>{{ s.user.name }}</td>
              <td>{{ s.waiting_packs()|length }}</td>
              {% for pack in range(d.draft.num_packs) %}
                <td>{{ s.num_picked_for_round(loop.index - 1) }}</td>
              {% endfor %}
              <td>
                <a href="/draft/{{d.draft.id}}/force/{{s.user.id}}">force</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- END: Seating Chart -->

  </div>

  <!-- Scars to Add -->
  {% if d.is_scarring_round() %}
    <div id="scars" class="mt-2">
      <h3>Scarring Round</h3>
      {% for scar in d.pack.scar_options() %}
        <div class="m-2 p-2 bg-light border row">
          <div class="col col-1 btn btn-success">
            Scar {{ loop.index }}
          </div>

          <div class="col">
            <ul class="list-unstyled mb-0">
              <li class="text-primary">{{ scar.text }}</li>
              <li class="text-secondary">{{ scar.restrictions }}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
      <a href="{{ url_for('draft_new_scars', draft_id=d.draft.id) }}">
        I need new scars
      </a>
    </div>
  {% endif %}
  <!-- END: Scars to Add -->

  <!-- Card Picker -->
  <div id="picker" class="no-gutters mt-2">
    <h2 class="text-primary">Card Picker</h2>
    {% if d.draft.complete %}
      <p>draft is complete</p>
    {% elif not d.pack %}
      <div class="btn btn-success">no packs waiting for you right now</div>
    {% else %}
      <p>
        Pack {{ d.pack.pack_number + 1 }} /
        Pick {{ d.pack.pick_number() }} /
        Passing to: {{ d.passing_to().name }}
      </p>

      {{ show_draft_card_list(d.pack.cards, d.draft.id) }}
    {% endif %}
  </div>
  <!-- END: Card Picker -->

  <hr>

  <!-- Picked Cards -->
  <div id="picks" class="no-gutters">
    <h2 class="text-secondary">Your Picks</h2>
    {{ show_picks_breakdown_table(d) }}
    {{ show_card_list(d.seat.picks) }}
  </div>

  <hr>

  {{ show_picked_card_names(d.seat) }}
  <!-- END: Picked Cards -->

  <!-- Card Image Popup -->
  <div class="d-none" id="autocardPopup" style="z-index: 500; right: 514px; bottom: 7px;">
    <div class="autocard-background">
      <div class="row no-gutters">
        <div class="position-relative">
          <img id="autocardImageFront" alt="">
        </div>
        <div class="position-relative">
          <img id="autocardImageBack" alt="" class="d-none">
        </div>
      </div>
    </div>
  </div>
  <!-- END: Card Image Popup -->

{% endblock content %}


{% block scripts %}
  <script>
   $(document).ready(function() {
     autocard_init('card-list-item')
   })
  </script>
{% endblock scripts %}
