{% from "macros.html" import show_card_list %}

{% extends "base.html" %}

{% block title %}
  {{ d.draft.name }}
{% endblock %}

{% block content %}
  <div class="row">

    <!-- Match Results -->
    <div class="col">
      <h3>Your Results</h3>
      <table class="table">
        <thead class="thead-light">
          <th>opponent</th>
          <th>results</th>
          <th></th>
        </thead>
        <tbody>
          {% for seat in d.seats %}
            {% if seat != d.seat %}
              {% set form = d.result_form_for(seat) %}
              <form action="{{ url_for('draft_result', draft_id=d.draft.id) }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.user_id() }}
                <tr>
                  <td>{{ seat.user.name }}</td>
                  <td>
                    W{{ form.wins(size="3") }}
                    L{{ form.losses(size="3") }}
                    D{{ form.draws(size="3") }}
                  </td>
                  <td>{{ form.submit() }}</td>
                </tr>
              </form>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>

      <h3>All Results</h3>
      <table class="table table-striped">
        <tbody>
          <tr>
            <td></td>
            {% for seat in d.seats %}
              <td>{{ seat.user.name }}</td>
            {% endfor %}
          </tr>
          
          {% for seat1 in d.seats %}
            <tr>
              <td>{{ seat1.user.name }}</td>
              {% for seat2 in d.seats %}
                <td>
                  {% if seat1 == seat2 %}
                    &times;
                  {% else %}
                    {{ d.results(seat1, seat2) }}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- END: Match Results -->

    <!-- Deck Info -->
    <div class="col">
      <h3>Cockatrice Custom Set</h3>
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id) }}">
        <button class="btn btn-primary">Download Cockatrice Cards XML</button>
      </a>
      
      <a href="{{ url_for('cockatrice_download', draft_id=d.draft.id, force_rebuild='true') }}">
        <button class="btn btn-secondary">Rebuild</button>
      </a>
    </div>
    <!-- END: Deck Info -->
  </div>

  <!-- Picks -->
  <div class="row">
    <div class="col">
      <h3>Your Picks</h3>
    </div>
  </div>
  {{ show_card_list(d.seat.picks, None) }}

  <div class="row">
    <div class="col">
      <h3>Legacy Card Names</h3>
      <ul class="list-unstyled">
        {% for card in d.seat.picks %}
          <li>{{ card.cube_card.cockatrice_name() }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col">
      <h3>Standard Card Names</h3>
      <ul class="list-unstyled">
        {% for card in d.seat.picks %}
          <li>{{ card.cube_card.name() }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- END: Picks -->
{% endblock content %}
