{% extends 'basic.html' %}

{% from 'macros/card_frame.html' import empty_card_frame %}
{% from 'macros/header.html' import header with context %}


{% macro card_region(name, player_idx) %}
  {% set id_prefix = "player-{}-{}".format(player_idx, name.lower()) %}
  <div id="{{ id_prefix }}" class="game-frame card-zone">
    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
      </div>
    </div>

    <p class="card-section-header">
      <span class="card-section-name">
        {{ name }}
      </span>
      <span class="card-list-count">
        (<span id="{{ id_prefix }}-count">0</span>)
      </span>
    </p>
    <ul id="{{ id_prefix }}-cards" class="card-list sortable">
    </ul>
  </div>
{% endmacro %}


{% macro card_dropper(dropper_class) %}
  <div class="game-frame">
    <p class="card-section-header">
      <span class="card-section-name">
        {{ dropper_class.title() }} Dropper
      </span>
    </p>
    <ul class="{{ dropper_class }}-dropper card-dropper card-list sortable">
    </ul>
  </div>
{% endmacro %}


{% macro library_region(player_idx) %}
  {% set id_prefix = "player-{}-library".format(player_idx) %}
  <div id="{{ id_prefix }}" class="game-frame card-zone">
    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
      </div>
    </div>

    <p class="card-section-header">
      <span class="card-section-name">
        Library
      </span>
      <span class="card-list-count">
        (<span id="{{ id_prefix }}-count">0</span>)
      </span>
    </p>

    <ul id="{{ id_prefix }}-cards" class="card-list sortable">
    </ul>

    <p class="library-divider border-top">top</p>

    <ul id="{{ id_prefix }}-cards-middle" class="card-list sortable">
    </ul>

    <p class="library-divider border-bottom">bottom</p>

    <ul id="{{ id_prefix }}-cards-bottom" class="card-list sortable">
    </ul>

  </div>
{% endmacro %}


{% block head %}
  <link
    rel="stylesheet"
    href="/static/css/game.css?version={{ version }}">
{% endblock head %}


{% block body_start %}
  <div
    style="display:none"
    data-save-url="{{ url_for('game_save') }}"
    id="save-game-meta">
  </div>

  <!-- Main Container -->
  <div class="container-fluid game-root">

    {{ header() }}

    <!-- Game Name -->
    <div class="row">
      <div class="col game-frame text-center">
        <div class="row">

          <div class="col-1">
          </div>

          <div class="col">
            <div id="game-name-edit" class="row justify-content-center d-none">
              <div class="col-lg-4">
                <form action="{{ url_for('game_edit_name', game_id=game.id) }}" method="post" novalidate>
                  {{ genform.hidden_tag() }}
                  <div class="form-group">
                    {{ genform.new_game_name.label }}
                    {{ genform.new_game_name(class='form-control', id='new-game-name-input') }}
                  </div>
                  {{ genform.submit(class="btn btn-primary") }}
                </form>
              </div>
            </div>

            <h5 id="game-name">
              ~ {{ game_state.name }} ~
            </h5>
          </div>

          <div class="col-1">
            <ul class="list-unstyled m-0" style="line-height: 1;">
              <li>
                <a id="edit-name-toggle" href="#">edit name</a>
              </li>

              {% if game.draft_links %}
                {% set draft = game.draft_links[0].draft %}
                <li>
                  <a href="{{ url_for('draft_v2', draft_id=draft.id) }}">draft</a>
                </li>

                {% if draft.cube_id %}
                  <li>
                    <a href="{{ url_for('cube_cards', cube_id=draft.cube_id) }}">cube</a>
                  </li>
                {% endif %}
              {% endif %}

              {% if game.draft_v2_links %}
                {% set draft = game.draft_v2_links[0].draft %}
                <li>
                  <a href="{{ url_for('draft_v2', draft_id=draft.id) }}">draft</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END: Game Name -->

    <div class="row
                flex-nowrap
                ">
      <div id="game-phase" class="col-4 col-lg-1 inner-frames">
        <div id="actions-zone" class="game-frame">
          <p class="border-bottom text-secondary text-xs">Actions</p>
          <p id="rematch">rematch</p>
          <p id="pass-priority">pass priority</p>
        </div>

        <div id="undo-zone" class="game-frame">
          <p class="border-bottom text-secondary text-xs">Undo</p>
          <p id="undo">undo</p>
        </div>

        <div class="game-frame">
          <p class="border-bottom text-secondary text-xs">Beginning</p>
          <p id="start-turn">start turn</p>
          <p id="phase-untap" class="phase">untap</p>
          <p id="phase-upkeep" class="phase">upkeep</p>
          <div>
            <div style="float: right; flex-direction: column; text-align: center;">
              <input type="checkbox" id="auto-draw" checked>
              <p class="text-xs text-secondary" style="margin-top: -.5rem;">auto</p>
            </div>
            <p id="phase-draw" class="phase">draw</p>
          </div>
        </div>

        <div class="game-frame">
          <p class="border-bottom text-secondary text-xs">Pre-Combat</p>
          <p id="phase-main1" class="phase">main 1</p>
        </div>

        <div class="game-frame">
          <p class="border-bottom text-secondary text-xs">Combat</p>
          <p id="phase-combat-begin" class="phase">begin</p>
          <p id="phase-combat-attack" class="phase">attackers</p>
          <p id="phase-combat-defend" class="phase">blockers</p>
          <p id="phase-combat-damage" class="phase">damage</p>
          <p id="phase-combat-end" class="phase">end</p>
        </div>

        <div class="game-frame">
          <p class="border-bottom text-secondary text-xs">Post-Combat</p>
          <p id="phase-main2" class="phase">main 2</p>
        </div>

        <div class="game-frame">
          <p class="border-bottom text-secondary text-xs">Ending</p>
          <p id="phase-end" class="phase">end</p>
        </div>
      </div>

      <div id="message-zone" class="col-8 col-lg-2 game-frame">
        <ol id="messages">
        </ol>

        <div id="message-input-wrapper">
          <input id="message-input" type="text" class="form-control form-control-sm" placeholder="send a message...">
        </div>
      </div>


      {% set current_user_idx = game_state.seat_index_by_user_id(current_user.id) %}
      {% for base_idx in range(current_user_idx, current_user_idx + game_state.players|length, 1) %}
        {% set player_idx = (base_idx) % num_players %}
        {% set id_prefix = "player-{}".format(player_idx) %}

        <div
          id="{{ id_prefix }}-tableau"
          class="tableau game-frame
                col-12
              {% if num_players == 2 %}
                col-lg
              {% else %}
                col-lg-4
              {% endif %}
              ">
          <div class="row inner-frames
                      {% if loop.index > 1 %}
                      flex-row-reverse
                      {% endif %}
                      ">

            <div class="col-4 inner-frames">

              <!-- Player Info Zone -->
              <div id="{{ id_prefix }}-info" class="game-frame player-info card-zone">
                <div class="zone-menu">
                  <div class="zone-menu-inner">
                    <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
                  </div>
                </div>

                <p class="card-section-header">
                  <span id="{{ id_prefix }}-name">NO_NAME</span>
                </p>

                <div id="{{ id_prefix }}-counters" class="player-counters-area">
                  <div
                    id="{{ id_prefix }}-counter-life"
                    class="player-counter"
                    data-counter-name="life">

                    <div class="counter-buttons">
                      <i amount="-5" class="fas fa-dice-five text-danger counter-button"></i>
                      <i amount="-1" class="fas fa-dice-one text-danger counter-button"></i>
                      <i amount="+1" class="fas fa-dice-one text-success counter-button"></i>
                      <i amount="+5" class="fas fa-dice-five text-success counter-button"></i>
                    </div>

                    <span class="counter-name">life:</span>
                    <span class="counter-value"></span>
                  </div>

                </div>
              </div>
              <!-- END: Player Info Zone -->

              {{ library_region(player_idx) }}
              {{ card_region('Graveyard', player_idx) }}
              {{ card_region('Exile', player_idx) }}
              {{ card_region('Command', player_idx) }}
              {{ card_region('Sideboard', player_idx) }}
            </div>

            <div class="col col-4 inner-frames">
              {{ card_region('Hand', player_idx) }}
              {{ card_dropper('closeup') }}
              {{ card_dropper('twiddle') }}
            </div>

            <div class="col col-4 inner-frames">
              {{ card_region('Creatures', player_idx) }}
              {{ card_region('Battlefield', player_idx) }}
              {{ card_region('Land', player_idx) }}
              {{ card_region('Stack', player_idx) }}
            </div>

          </div>
        </div>
      {% endfor %}

    </div>

    <div id="popup-menus" class="d-none">
      <div class="popup-menu-template popup-menu" data-zone="hand">
        <ul>
          <li>import card</li>
          <li>reveal</li>
          <li>hide</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="library">
        <ul>
          <li>draw</li>
          <li>draw 7</li>
          <li>mulligan</li>
          <li>---</li>
          <li>shuffle</li>
          <li>shuffle bottom n</li>
          <li>---</li>
          <li>view next</li>
          <li>view all</li>
          <li>view top n</li>
          <li>reveal next</li>
          <li>---</li>
          <li>move top n</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="sideboard">
        <ul>
          <li>collapse/expand</li>
          <li>reveal</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="battlefield">
        <ul>
          <li>create token</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="creatures">
        <ul>
          <li>create token</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="info">
        <ul>
          <li>roll a die</li>
          <li>create counter</li>
          <li>---</li>
          <li>concede</li>
          <li>tie game</li>
        </ul>
      </div>

    </div>

    <div>
      <ul id="drag-holder">
      </ul>
    </div>
  </div>
  <!-- END: Container -->


  <!-- Rematch Modal -->
  <div id="rematch-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          Haven't had enough yet?
        </div>

        <div class="modal-footer">
          <a href="{{ url_for('game_rematch', game_id=game.id) }}" class="btn btn-primary">
            rematch
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Rematch Modal -->


  <!-- Error Modal -->
  <div id="error-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header text-danger">
          <h1 id="error-title">
          </h1>
        </div>

        <div class="modal-body">
          <p id="error-message">
          </p>
        </div>

        <div class="modal-footer">
          <a href="{{ url_for('game', game_id=game.id) }}" class="btn btn-primary">
            reload
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Error Modal -->


  <!-- Import Card Modal -->
  <div class="modal fade" id="import-card-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Import Card</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form>
          <div class="modal-body">

            <div class="row no-gutters">
              <div class="col-6 form-group">
                <label for="import-card-name">Name</label>
                <input id="import-card-name" type="text" class="form-control">
              </div>

              <div class="col form-group pl-1">
                <label for="import-card-id">ID</label>
                <input id="import-card-id" type="text" class="form-control">
              </div>

              <div class="col form-group pl-1">
                <label for="import-card-count">Count</label>
                <input id="import-card-count" type="text" class="form-control" value="1">
              </div>
            </div>

            <div class="form-group">
              <select name="import-card-zone" id="import-card-zone" class="form-control">
                <option value="battlefield">Battlefield</option>
                <option value="command">Command</option>
                <option value="creatures" selected>Creatures</option>
                <option value="exile">Exile</option>
                <option value="graveyard">Graveyard</option>
                <option value="hand">Hand</option>
                <option value="land">Land</option>
              </select>
            </div>

            <div class="form-check">
              <input type="checkbox" id="import-card-token" class="form-check-input" checked>
              <label for="import-card-token" class="form-check-label">token</label>
            </div>

          </div> <!-- modal-body -->

          <div class="modal-footer">
            <button id="import-card-submit" type="button" class="btn btn-primary">import</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- END: Import Card Modal -->


  <!-- Import Select Modal -->
  <div class="modal fade" id="import-select-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Select Card Version</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form>

            <div class="col form-group pl-1">
              <p id="import-select-name"></p>
            </div>

            <div>
              <ul class="list-unstyled" id="import-select-version">
              </ul>
            </div>

          </form>
        </div> <!-- modal-body -->

      </div>
    </div>
  </div>
  <!-- END: Import Select Modal -->


  <!-- Roll a Die Modal -->
  <div id="die-roller" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-none" id="die-roller-player-idx"></div>

          <div class="form-group">
            <label for="die-faces">Faces</label>
            <input id="die-faces" type="text" class="form-control">
          </div>

          <button id="die-roll" type="button" class="btn btn-primary">roll</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Roll a Die Modal -->


  <!-- Library Depth Select Modal -->
  <div id="library-depth-select-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Make your choice!</h2>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="depth-from-top">How many from top (1 = top)</label>
            <input id="depth-from-top" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label for="depth-from-bottom">How many from bottom (1 = bottom)</label>
            <input id="depth-from-bottom" type="text" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button id="depth-select-submit" type="button" class="btn btn-primary">Yes!</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Library Depth Select Modal -->


  <!-- View Top N of Library Modal -->
  <div id="scry-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-none" id="scry-modal-player-idx"></div>

          <div class="form-group">
            <label for="scry-count">View How Many</label>
            <input id="scry-count" type="text" class="form-control">
          </div>

          <div class="form-check">
            <input id="scry-reveal" type="checkbox" class="form-check-input">
            <label for="reveal-viewed-cards" class="form-check-label">reveal to all?</label>
          </div>
        </div>

        <div class="modal-footer">
          <button id="scry-submit" type="button" class="btn btn-primary">view</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Roll a Die Modal -->


  <!-- Move Top N of Library Modal -->
  <div id="library-move-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-none" id="library-move-modal-player-idx"></div>

          <div class="form-group">
            <label for="num-cards">Move to...</label>
            <select id="library-move-dest" class="form-control">
            </select>
          </div>

          <div class="form-group">
            <label for="num-cards">Move How Many</label>
            <input id="library-move-count" type="text" class="form-control">
          </div>

          <div class="form-group mb-0">
            <input id="library-move-face-down" type="checkbox">
            <label for="num-cards">Move Face Down</label>
          </div>

          <div class="form-group">
            <input id="library-move-bottom-of-library" type="checkbox">
            <label for="library-move-bottom-of-library">Bottom of Library</label>
          </div>

          <button id="library-move-submit" type="button" class="btn btn-primary">move</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Move Top N of Library Modal -->


  <!-- Add Counter to Player Modal -->
  <div id="player-counter-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-body">
          <div class="d-none" id="player-counter-modal-player-idx"></div>

          <div class="form-group">
            <label for="player-counter-name">Counter Name</label>
            <input id="player-counter-name" name="player-counter-name" type="text" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button id="player-counter-submit" type="button" class="btn btn-primary">create</button>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Add Counter to Player Modal -->


  <!-- Randomize Bottom of Library Modal -->
  <div id="randomize-bottom-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          Randomize Bottom of Library
        </div>

        <div class="modal-body">
          <div class="d-none" id="randomize-bottom-modal-player-idx"></div>

          <div class="form-group">
            <label for="num-cards">How Many</label>
            <input id="randomize-bottom-count" type="text" class="form-control">
          </div>
        </div>

        <div class="modal-footer">
          <button id="randomize-bottom-submit" type="button" class="btn btn-primary">randomize</button>
        </div>

      </div>
    </div>
  </div>
  <!-- END: Randomize Bottom of Library Modal -->


  <!-- Card Closeup -->
  <div
    id="card-closeup"
    class="game-frame dialog">

    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="card-closeup-menu-button" class="fas fa-bars zone-menu-icon"></i>
        <i class="fas fa-times dialog-close"></i>

        <div class="popup-menu">
          <ul>
            <li>face-down/face-up</li>
            <li>---</li>
            <li>
              <a id="closeup-card-link" href="" target="_blank">
                link to card editor
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dialog-header">
      <p class="card-section-header">
        Card Closeup
      </p>
    </div>

    <div class="card-closeup-annotation">
      <input class="card-closeup-annotation-input form-control" type="text" placeholder="annotation">
    </div>

    <div class="drag-handle">
      {{ empty_card_frame(270) }}
    </div>

  </div>
  <!-- END: Card Closeup -->


  <!-- Token Maker -->
  <div id="token-maker" class="game-frame dialog">

    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="token-maker-menu-button" class="fas fa-bars zone-menu-icon"></i>
        <i class="fas fa-times dialog-close"></i>

        <!-- <div class="popup-menu">
             <ul>
             </ul>
             </div>
        -->
      </div>
    </div>

    <div class="dialog-header">
      <p class="card-section-header">
        Token Maker
      </p>
    </div>

    <form>
      <div class="form-group">
        <label for="token-name">Name</label>
        <input id="token-name" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="token-annotation">annotation</label>
        <input id="token-annotation" type="text" class="form-control">
      </div>

      <div class="form-group">
        <select name="token-zone" id="token-zone" class="form-control">
          <option value="creatures">Creatures</option>
          <option value="battlefield">Battlefield</option>
          <option value="hand">Hand</option>
          <option value="---">---</option>
          <option value="stack">Stack</option>
          <option value="command">Command</option>
          <option value="exile">Exile</option>
          <option value="graveyard">Graveyard</option>
          <option value="land">Land</option>
        </select>
      </div>

      <div class="form-group">
        <input id="token-persistent" type="checkbox">
        <label for="token-persistent">persistent</label>
      </div>

      <button id="token-create" type="button" class="btn btn-primary">create</button>

    </form>
  </div>
  <!-- END: Token Maker -->




{% endblock body_start %}


{% block body_end %}

  <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
  <script>
   let initial_state = {{ game_state.data|tojson }};

   $(document).ready(function() {
     clo.game.init(initial_state, '{{ current_user.name }}')

     $('#edit-name-toggle').click(function() {
       let name_edit = $('#game-name-edit')
       let game_name = $('#game-name')

       if (name_edit.hasClass('d-none')) {
         name_edit.removeClass('d-none')
         game_name.addClass('d-none')
       }
       else {
         name_edit.addClass('d-none')
         game_name.removeClass('d-none')
       }
     })
   })
  </script>

{% endblock body_end %}
