{% extends 'base.html' %}

{% from 'macros/deck_builder.html' import deck_builder %}


{% block title_suffix %}
  {{ game_state.name }} - Lobby
{% endblock %}


{% block content %}
  {% set player = game_state.player_by_id(current_user.id) %}

  <div class="row">
    <div class="col framed text-center text-secondary">
      <div class="text-right">
        <a id="edit-name-toggle" href="#">edit</a>
      </div>

      <div id="game-name-edit" class="row justify-content-center d-none">
        <div class="col-lg-4">
          <form action="{{ url_for('game_edit_name', game_id=game_id) }}" method="post" novalidate>
            {{ genform.hidden_tag() }}
            <div class="form-group">
              {{ genform.new_game_name.label }}
              {{ genform.new_game_name(class='form-control', id='new-game-name-input') }}
            </div>
            {{ genform.submit(class="btn btn-primary") }}
          </form>
        </div>
      </div>

      <h1 id="game-name">
        ~ {{ game_state.name }} ~
      </h1>
    </div>
  </div>

  <div class="row">

    <!-- Game Info -->
    <div class="col framed">
      <p class="text-secondary border-bottom mb-0">Players</p>
      <ul class="list-unstyled">
        {% for player in game_state.players %}
          <li>
            {{ player.name}}

            {% if player.ready_to_start %}
              <span class="badge badge-success" style="font-size: .5rem">ready</span>
            {% else %}
              <span class="badge badge-warning" style="font-size: .5rem">waiting</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <p class="text-secondary mb-0">Add Player</p>
      <form action="{{ url_for('game_add_player', game_id=game_id) }}" method="post" novalidate>
        {{ apform.hidden_tag() }}
        {{ apform.players(class='form-control', id='player-selector') }}
        {{ apform.submit(class='d-none', id='player-selector-submit') }}
      </form>
    </div>
    <!-- END: Game Info -->


    <!-- Deck Selector -->
    <div class="col framed">
      <form action="{{ url_for('game_select_deck', game_id=game_id) }}" method="post" novalidate>
        {{ dsform.hidden_tag() }}
        <div class="form-group">
          {{ dsform.deck.label }}
          {{ dsform.deck(class='form-control') }}
        </div>
        <div class="text-right">
          {{ dsform.submit(class="btn btn-info") }}
        </div>
      </form>

      {% if db %}
        <div class="text-right mt-2">
          <form
            id="readyForm"
            action="{{ url_for('game_ready', game_id=game_id) }}"
            method="post"
            novalidate>

            {{ rform.hidden_tag() }}
            {{ rform.submit(class="btn btn-success") }}
          </form>
        </div>
      {% endif %}
    </div>
    <!-- END: Deck Selector -->

  </div>

  {################}
  {# Deck Builder #}
  {% if db %}
    {{ deck_builder(db) }}
  {% endif %}

{% endblock content %}


{% block scripts %}

  <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/static/js/deck_builder.js?version={{ version }}"></script>
  <script>
   $(document).ready(function() {

     {% if db %}
       {% if db.cube.style_a == 'legacy' %}
         autocard_init('card-list-item', true)
         window.card_data = {{ db.cube_wrapper.card_data()|tojson }}
       {% else %}
         autocard_init('card-list-item', false)
       {% endif %}
     {% endif %}

     // When hitting ready, fill the hidden fields with the deck data before submitting.
     $('#readyForm').submit(function(event) {
       let data = build_deck_data()
       $('#maindeck_ids').val(data.maindeck.join(','))
       $('#sideboard_ids').val(data.sideboard.join(','))
       $('#command_ids').val(data.command.join(','))
       $('#basics_list').val(data.basics.join(','))
     })

     // Automatically add selected players.
     $('#player-selector').change(function(event) {
       $('#player-selector-submit').click()
     })

     $('#edit-name-toggle').click(function() {
       let name_edit = $('#game-name-edit')
       let game_name = $('#game-name')

       if (name_edit.hasClass('d-none')) {
         name_edit.removeClass('d-none')
         game_name.addClass('d-none')
       }
       else {
         name_edit.addClass('d-none')
         game_name.removeClass('d-none')
       }
     })
   })
  </script>

{% endblock scripts %}
