{% extends 'basic.html' %}

{% from 'macros/header.html' import header with context %}


{% macro card_region(name, player_idx) %}
  {% set id_prefix = "player-{}-{}".format(player_idx, name.lower()) %}
  <div id="{{ id_prefix }}" class="framed card-zone">
    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
      </div>
    </div>

    <p class="card-section-header">
      <span class="card-section-name">
        {{ name }}
      </span>
      <span class="card-list-count">
        (<span id="{{ id_prefix }}-count">0</span>)
      </span>
    </p>
    <ul id="{{ id_prefix }}-cards" class="card-list sortable">
    </ul>
  </div>
{% endmacro %}


{% macro library_region(player_idx) %}
  {% set id_prefix = "player-{}-library".format(player_idx) %}
  <div id="{{ id_prefix }}" class="framed card-zone">
    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
      </div>
    </div>

    <p class="card-section-header">
      <span class="card-section-name">
        Library
      </span>
      <span class="card-list-count">
        (<span id="{{ id_prefix }}-count">0</span>)
      </span>
    </p>

    <ul id="{{ id_prefix }}-cards" class="card-list sortable">
    </ul>

    <p class="library-divider border-top">top</p>
    <p class="library-divider">middle</p>
    <p class="library-divider border-bottom">bottom</p>

    <ul id="{{ id_prefix }}-cards-bottom" class="card-list sortable">
    </ul>

  </div>
{% endmacro %}


{% block head %}
  <link
    rel="stylesheet"
    href="/static/css/game.css?version={{ version }}">
{% endblock head %}


{% block body_start %}
  <div
    style="display:none"
    data-save-url="{{ url_for('game_save') }}"
    id="save-game-meta">
  </div>

  <!-- Main Container -->
  <div class="container-fluid game-root">

    {{ header() }}

    <div class="row">
      <div id="game-phase" class="col col-1 inner-frames">
        <div>
          <ul id="drag-holder">
          </ul>
        </div>

        <div id="actions-zone" class="framed">
          <p class="border-bottom text-secondary text-xs">Actions</p>
          <p id="undo">undo</p>
          <p id="pass-priority">pass priority</p>
          <p id="pass-turn">pass turn</p>
        </div>

        <div class="framed">
          <p class="border-bottom text-secondary text-xs">Beginning</p>
          <p id="phase-untap" class="phase">untap</p>
          <p id="phase-upkeep" class="phase">upkeep</p>
          <p id="phase-draw" class="phase">draw</p>
        </div>

        <div class="framed">
          <p class="border-bottom text-secondary text-xs">Pre-Combat</p>
          <p id="phase-main1" class="phase">main 1</p>
        </div>

        <div class="framed">
          <p class="border-bottom text-secondary text-xs">Combat</p>
          <p id="phase-combat-begin" class="phase">begin</p>
          <p id="phase-combat-attack" class="phase">attackers</p>
          <p id="phase-combat-defend" class="phase">blockers</p>
          <p id="phase-combat-damage" class="phase">damage</p>
          <p id="phase-combat-end" class="phase">end</p>
        </div>

        <div class="framed">
          <p class="border-bottom text-secondary text-xs">Post-Combat</p>
          <p id="phase-main2" class="phase">main 2</p>
        </div>

        <div class="framed">
          <p class="border-bottom text-secondary text-xs">Ending</p>
          <p id="phase-end" class="phase">end</p>
        </div>
      </div>

      <div id="message-zone" class="col col-2 framed">
        <ol id="messages">
        </ol>

        <div id="message-input-wrapper">
          <input id="message-input" type="text" class="form-control form-control-sm" placeholder="send a message...">
        </div>
      </div>

      {% set current_user_idx = game_state.seat_index_by_user_id(current_user.id) %}
      {% for base_idx in range(current_user_idx, current_user_idx + 2, 1) %}
        {% set player_idx = (base_idx) % game_state.players|length %}
        {% set id_prefix = "player-{}".format(player_idx) %}

        <div id="{{ id_prefix }}-tableau" class="col tableau framed">
          <div class="row inner-frames
                      {% if loop.index > 1 %}
                      flex-row-reverse
                      {% endif %}
                      ">

            <div class="col col-4 inner-frames">

              <!-- Player Info Zone -->
              <div id="{{ id_prefix }}-info" class="framed player-info card-zone">
                <div class="zone-menu">
                  <div class="zone-menu-inner">
                    <i id="{{ id_prefix }}-menu-button" class="fas fa-bars zone-menu-icon"></i>
                  </div>
                </div>
                <p class="card-section-header">
                  <span id="{{ id_prefix }}-name">NO_NAME</span>
                </p>
                <p class="card-section-info">life:
                  <span id="{{ id_prefix }}-life"></span>
                  <span id="{{ id_prefix }}-life-buttons" class="life-buttons" style="float:right;">
                    <i amount="-5" class="fas fa-dice-five text-danger"></i>
                    <i amount="-1" class="fas fa-dice-one text-danger"></i>
                    <i amount="+1" class="fas fa-dice-one text-success"></i>
                    <i amount="+5" class="fas fa-dice-five text-success"></i>
                  </span>
                </p>
              </div>
              <!-- END: Player Info Zone -->

              {{ library_region(player_idx) }}
              {{ card_region('Graveyard', player_idx) }}
              {{ card_region('Exile', player_idx) }}
              {{ card_region('Command', player_idx) }}
              {{ card_region('Sideboard', player_idx) }}
            </div>

            <div class="col col-4 inner-frames">
              {{ card_region('Hand', player_idx) }}
            </div>

            <div class="col col-4 inner-frames">
              {{ card_region('Battlefield', player_idx) }}
              {{ card_region('Land', player_idx) }}
              {{ card_region('Stack', player_idx) }}
            </div>

          </div>
        </div>
      {% endfor %}

    </div>

    <div id="popup-menus" class="d-none">
      <div class="popup-menu-template popup-menu" data-zone="library">
        <ul>
          <li>draw</li>
          <li>draw 7</li>
          <li>---</li>
          <li>shuffle</li>
          <li>---</li>
          <li>collapse/expand</li>
          <li>view</li>
          <li>view top n</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="sideboard">
        <ul>
          <li>collapse/expand</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="battlefield">
        <ul>
          <li>create token</li>
        </ul>
      </div>

      <div class="popup-menu-template popup-menu" data-zone="info">
        <ul>
          <li>roll a die</li>
        </ul>
      </div>

    </div>
  </div>
  <!-- END: Container -->


  <!-- Popup Viewer -->
  <div id="popup-viewer-zone" class="framed dialog">
    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="popup-viewer-zone-menu-button" class="fas fa-bars zone-menu-icon"></i>
        <i class="fas fa-times dialog-close"></i>
      </div>
    </div>

    <div class="dialog-header">
      <p class="card-section-header">
      </p>
    </div>

    <ul id="popup-viewer-cards" class="card-list sortable">
    </ul>
  </div>
  <!-- END: Popup Viewer -->


  <!-- Roll a Die Modal -->
  <div id="die-roller" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-none" id="die-roller-player-idx"></div>

          <div class="form-group">
            <label for="die-faces">Faces</label>
            <input id="die-faces" type="text" class="form-control">
          </div>

          <button id="die-roll" type="button" class="btn btn-primary">roll</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Roll a Die Modal -->


  <!-- View Top N of Library Modal -->
  <div id="scry-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <div class="d-none" id="scry-modal-player-idx"></div>

          <div class="form-group">
            <label for="num-cards">View How Many</label>
            <input id="scry-count" type="text" class="form-control">
          </div>

          <button id="scry-submit" type="button" class="btn btn-primary">view</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Roll a Die Modal -->


  <!-- Card Closeup -->
  <div
    id="card-closeup"
    class="framed dialog">

    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="card-closeup-menu-button" class="fas fa-bars zone-menu-icon"></i>
        <i class="fas fa-times dialog-close"></i>

        <div class="popup-menu">
          <ul>
            <li>face-down/face-up</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="dialog-header">
      <p class="card-section-header">
        Card Closeup
      </p>
    </div>

    <div class="card-container">
      <div class="card-background">
        <div class="card-frame">

          <div class="frame-header">
            <p class="card-name"></p>

            <div class="mana-cost">
            </div>
          </div>

          <img
            class="frame-art"
            alt="card art"
            src="">

          <div class="frame-type-line">
            <p class="card-type"></p>
          </div>

          <div class="frame-text-box">
            <div class="description-wrapper">
              <p class="description"></p>
            </div>

            <div class="flavor-wrapper">
              <p class="flavor-text"></p>
            </div>
          </div>

          <div class="frame-pt-loyalty">
          </div>

        </div> <!-- frame -->
      </div> <!-- background -->
    </div> <!-- container -->


    <div class="framed card-closeup-annotation">
      <input class="card-closeup-annotation-input form-control" type="text" placeholder="annotation">
    </div>

  </div>
  <!-- END: Card Closeup -->


  <!-- Token Maker -->
  <div id="token-maker" class="framed dialog">

    <div class="zone-menu">
      <div class="zone-menu-inner">
        <i id="token-maker-menu-button" class="fas fa-bars zone-menu-icon"></i>
        <i class="fas fa-times dialog-close"></i>

        <!-- <div class="popup-menu">
             <ul>
             </ul>
             </div>
        -->
      </div>
    </div>

    <div class="dialog-header">
      <p class="card-section-header">
        Token Maker
      </p>
    </div>

    <form>
      <div class="form-group">
        <label for="token-name">Name</label>
        <input id="token-name" type="text" class="form-control">
      </div>

      <div class="form-group">
        <label for="token-annotation">annotation</label>
        <input id="token-annotation" type="text" class="form-control">
      </div>

      <!-- <div class="form-group">
           <label for="token-color">color</label>
           <select multiple class="form-control" id="token-color" style="height: 7em">
           <option>white</option>
           <option>blue</option>
           <option>black</option>
           <option>red</option>
           <option>green</option>
           </select>
           </div> -->

      <button id="token-create" type="button" class="btn btn-primary">create</button>

    </form>
  </div>
  <!-- END: Token Maker -->




{% endblock body_start %}


{% block body_end %}

  <script src="/static/js/game.js?version={{ version }}"></script>
  <script>
   let initial_state = {{ game_state.data|tojson }}
   $(document).ready(function() {
     ui.init(initial_state, '{{ current_user.name }}')
   })
  </script>

{% endblock body_end %}
