{% extends "base.html" %}

{% block title_suffix %}
  Home
{% endblock %}

{% block title %}
  Cube Legacy Online
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <div class="col">
      <a href="{{ url_for('draft_v2_new') }}">new draft</a>
      /
      <a href="#newCubeModal" data-toggle="modal">new cube</a>
      /
      <a href="#pack-maker-modal" data-toggle="modal">make pack</a>
    </div>
  </div>

  <div class="row" >
    <div class="col">
      <div>
        <h3>Active</h3>
        <div id="active" class="framed">

          <p class="index-section-header">Active Drafts</p>
          <ul class="list-unstyled ml-4">
            {% for draft in v2_active %}
              <li>
                <a href="/draft_v2/{{draft.id}}">{{ draft.name }}</a>
                {% if draft.info().waiting(current_user) %}
                  <span class="badge badge-pill badge-warning">
                    <i class="fas fa-asterisk"></i>
                  </span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="framed">
          <p class="index-section-header">Active Games</p>
          <ul class="list-unstyled ml-4">
            {% for game in games %}
              {% if not game.state.is_finished() %}
                <li>
                  <a href="{{ url_for('game', game_id=game.id) }}">
                    {{ game.state.name }}
                  </a>

                  {% if game.is_my_turn(current_user) %}
                    <span class="badge badge-pill badge-warning">
                      <i class="fas fa-asterisk"></i>
                    </span>
                  {% endif %}

                  {% for user in game.state.players %}
                    {% if user.name != current_user.name %}
                      <p class="text-s text-secondary mt-0 mb-0 ml-2">
                        vs. {{ user.name }}
                      </p>
                    {% endif %}
                  {% endfor %}

                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="mt-2">
        <h3>Completed</h3>

        <div class="framed">
          <div>
            <a data-toggle="collapse" href="#draft-v2-completed">
              Completed V2 Drafts
            </a>
            <div id="draft-v2-completed" class="collapse">
              <div>
                <ul class="list-unstyled ml-4">
                  {% for draft in v2_complete %}
                    <li><a href="/draft_v2/{{draft.id}}">{{ draft.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div>
            <a data-toggle="collapse" href="#draft-v1-completed">
              Completed V1 Drafts
            </a>
            <div id="draft-v1-completed" class="collapse">
              <div>
                <ul class="list-unstyled ml-4">
                  {% for p in complete %}
                    <li><a href="/draft/{{p.draft.id}}">{{ p.draft.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="framed">
          <p class="index-section-header">Finished Games</p>
          <ul class="list-unstyled ml-4 mt-3">
            {% for game in games %}
              {% if game.state.is_finished() %}
                <li>
                  <a href="{{ url_for('game', game_id=game.id) }}">
                    {{ game.state.name }}
                  </a>

                  {% if game.state.result_for(current_user.id) == 'win' or game.state.is_winner(current_user) %}
                    <span class="badge badge-pill badge-success">
                      <i class="fas fa-check"></i>
                    </span>
                  {% else %}
                    <span class="badge badge-pill badge-danger">
                      <i class="fas fa-times"></i>
                    </span>
                  {% endif %}

                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>

    <div class="col">
      <!-- Cube List -->
      <div>
        <h3>Cubes</h3>

        <div id="legacy-cubes" class="framed">
          <p class="index-section-header">Legacy Cubes</p>
          <ul class="list-unstyled ml-4">
            {% for cube in cubes|sort(attribute='name') %}
              {% if cube.style_a == 'legacy' %}
                <li>
                  <div class="text-s" style="float: right;">
                    (<a href="{{ url_for('cube_achievements', cube_id=cube.id) }}">a</a>)
                    (<a href="{{ url_for('cube_scars', cube_id=cube.id) }}">s</a>)
                    (<a href="{{ url_for('cube_data', cube_id=cube.id) }}">d</a>)
                  </div>
                  <a href="{{ url_for('cube_cards', cube_id=cube.id) }}">{{ cube.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div id="standard-cubes" class="framed">
          <p class="index-section-header">Standard Cubes</p>
          <ul class="list-unstyled ml-4 mt-3">
            {% for cube in cubes|sort(attribute='name') %}
              {% if cube.style_a == 'standard' %}
                <li>
                  <div class="text-s" style="float: right;">
                    (<a href="{{ url_for('cube_achievements', cube_id=cube.id) }}">a</a>)
                    (<a href="{{ url_for('cube_data', cube_id=cube.id) }}">d</a>)
                  </div>
                  <a href="{{ url_for('cube_cards', cube_id=cube.id) }}">{{ cube.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div id="set-cubes" class="framed">
          <p class="index-section-header">Sets</p>
          <ul class="list-unstyled ml-4 mt-3">
            {% for cube in cubes|sort(attribute='name') %}
              {% if cube.style_a == 'set' %}
                <li>
                  <div class="text-s" style="float: right;">
                    (<a href="{{ url_for('cube_achievements', cube_id=cube.id) }}">a</a>)
                    (<a href="{{ url_for('cube_data', cube_id=cube.id) }}">d</a>)
                  </div>
                  <a href="{{ url_for('cube_cards', cube_id=cube.id) }}">{{ cube.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

      </div>
      <!-- END: Cube List -->

      <!-- Users List -->
      <div class="mt-2">
        <h3>Users</h3>
        <div class="framed">
          <ul class="list-unstyled mb-0 ml-4">
            {% for user in users %}
              <li>
                <a href="{{ url_for('user_profile', user_id=user.id) }}">
                  {{ user.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- END: Users List -->

    </div>

    <div class="col">

      <!-- List of Achievements -->
      <div>
        <h3>My Achievements</h3>
        <div id="claimedAchievements" class="framed">
          <p class="index-section-header">Claimed Achievements</p>
          <ul class="list-unstyled ml-4">
            {% for achievement in achievements_unfinished %}
              <li>
                <a href="{{ url_for('achievement_view', achievement_id=achievement.id) }}">
                  {{ achievement.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div id="completedAchievements" class="framed">
          <p class="index-section-header">Finalized Achievements</p>
          <ul class="list-unstyled ml-4">
            {% for achievement in achievements_finished %}
              <li>
                <a href="{{ url_for('achievement_view', achievement_id=achievement.id) }}">
                  {{ achievement.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- END: List of Achievements -->

    </div>
  </div>


  <!-- Pack Maker Modal -->
  <div class="modal fade" id="pack-maker-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Make Pack</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form action="{{ url_for('make_pack') }}" method="post" novalidate>
            {{ pack_maker_form.hidden_tag() }}
            <div class="form-group row">
              <div class="col col-2 pl-4">
                {{ pack_maker_form.obj_type.label(class='col-form-label') }}
              </div>
              <div class="col">
                {{ pack_maker_form.obj_type(class='form-control') }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col col-2 pl-4">
                {{ pack_maker_form.cube_name.label(class='col-form-label') }}
              </div>
              <div class="col">
                {{ pack_maker_form.cube_name(class='form-control') }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col col-2 pl-4">
                {{ pack_maker_form.count.label(class='col-form-label') }}
              </div>
              <div class="col">
                {{ pack_maker_form.count(class='form-control') }}
              </div>
            </div>
            {{ pack_maker_form.submit(class='btn btn-secondary ml-2') }}
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Pack Maker Modal -->

  <!-- New Cube Modal -->
  <div class="modal fade" id="newCubeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Cube</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">

          <ul class="nav nav-tabs justify-content-around">
            <li class="active">
              <a  href="#new-cube-tab" data-toggle="tab">New Cube</a>
            </li>
            <li>
              <a  href="#new-set-tab" data-toggle="tab">New Set</a>
            </li>
          </ul>

	  <div class="tab-content clearfix">
	    <div class="tab-pane active" id="new-cube-tab">
              <form action="{{ url_for('cubes_new') }}" method="post" novalidate>
                {{ new_cube_form.hidden_tag() }}
                <div class="form-group">
                  {{ new_cube_form.name.label }}
                  {{ new_cube_form.name(class='form-control') }}
                </div>
                <div class="form-group">
                  {{ new_cube_form.style.label }}
                  {{ new_cube_form.style(class="list-unstyled") }}
                </div>
                <p>{{ new_cube_form.submit(class="btn btn-primary") }}</p>
              </form>
            </div>

	    <div class="tab-pane" id="new-set-tab">
              <form action="{{ url_for('cubes_new_set') }}" method="post" novalidate>
                {{ new_set_form.hidden_tag() }}
                <div class="form-group">
                  {{ new_set_form.set_code.label }}
                  {{ new_set_form.set_code(class="form-control") }}
                </div>
                <p>{{ new_set_form.submit(class="btn btn-primary") }}</p>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- END: New Cube Modal -->

{% endblock %}
