{% macro deckbuilder_row(id, class, cards) %}
  <div class="row deckbuilder-row {{ class }}-row" id="{{ id }}">
    {% for cmc in range(8) %}

      {# Cards under this header #}
      {% if cmc == 7 %}
        {% set cards = cards.cmc_gte(7) %}
        {% set cmc_string = '7+' %}
      {% else %}
        {% set cards = cards.cmc(cmc) %}
        {% set cmc_string = cmc|string %}
      {% endif %}

      <div class="col deckbuilder-col">
        <div class="m-0 border bg-light rounded">
          <div class="text-center">
            <p class="deckbuilder-col-header">{{ cmc_string }}</p>
          </div>
          <ul class="card-list sortable list-unstyled">
            {% for card in cards %}
              {% if card.is_land() %}
                {% set card_class = 'card-type-land' %}
              {% endif %}

              <li
                class="card-list-item {{ card_class }}"
                data-card-id="{{ card.id }}"
                data-front="{{ card.image_front() }}"
                {% if card.image_back() %}
                  data-back="{{ card.image_back() }}"
                {% endif %}
              >
                {{ card.name() }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro deckbuilder(d) %}
  <div class="row" id="deckBuilderInfo">
    <div class="col col-4 framed">
      <h4>Deck Builder</h4>
      <p>{{ d.deck.name }}</p>


      <p class="text-secondary ml-2 mb-0 border-bottom">Deck Actions</p>
      <ul class="list-unstyled">
        <li>
          <a href="#" id="saveLink">
            save
          </a>
        </li>
      </ul>
    </div>

    <!-- Card Counts -->
    <div class="col col-2 framed">
      <h5>Card Counts</h5>
      <ul class="list-unstyled">
        <li>
          Total:
          <span id="countMaindeck"></span>
        </li>
        <li>
          Creatures:
          <span id="countCreatures"</span>
        </li>
        <li>
          Others:

          <span id="countOther"</span>
        </li>
        <li>
          Lands:
          <span id="countLands"</span>
        </li>
      </ul>
    </div>
    <!-- END: Card Counts -->


    <!-- Basic Lands -->

    <div class="col col-2 framed">
      <h5>Basic Lands</h5>

      {% for basic in ['Forest', 'Island', 'Mountain', 'Plains', 'Swamp', 'Wastes'] %}
        <div class="basic-selector">
          <i class="far fa-plus-square basic-adjust basic-add"></i>
          <i class="far fa-minus-square basic-adjust basic-remove"></i>
          <span class="basic-type">{{ basic }}</span>
          ...
          <span class="basic-count">{{ d.basics(basic) }}</span>
        </div>
      {% endfor %}

    </div>
    <!-- END: Basic Lands -->

  </div>

  <div id="maindeck">
    <h5 class="mb-0 mt-2">Main Deck</h5>
    {{ deckbuilder_row('maindeckCreatures', 'creature', d.card_set.maindeck().creatures()) }}
    {{ deckbuilder_row('maindeckOther', 'other', d.card_set.maindeck().non_creature()) }}
  </div>

  <div id="sideboard">
    <h5 class="mb-0 mt-2">Sideboard</h5>
    {{ deckbuilder_row('sideboardCreatures', 'creature', d.card_set.sideboard().creatures()) }}
    {{ deckbuilder_row('sideboardOther', 'other', d.card_set.sideboard().non_creature()) }}
  </div>
{% endmacro %}

{% macro format_multi_line_text(text) %}
  {% if text %}
    {% for line in text.split('\n') %}
      {% if line.strip() %}
        <p class="mb-0">{{ line }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro show_achievement(achievement, current_user) %}
  <div class="d-flex">

    <!-- Achievement Name -->
    <div class="mr-auto mt-1 text-primary">
      {{ achievement.full_name() }}

      <a href="{{ url_for('achievement_star', ach_id=achievement.id) }}">
        {% if achievement.starred_by_user(current_user) %}
          <i class="fas fa-star text-warning"></i>
        {% else %}
          <i class="far fa-star text-secondary"></i>
        {% endif %}
      </a>

      {% if achievement.multiunlock %}
        <span class="badge badge-pill badge-warning">multi</span>
      {% endif %}
      <p class="text-secondary font-weight-light ml-3 mb-0" style="font-size:.8rem">
        by: {{ achievement.created_by.name }}
      </p>
    </div>

    <!-- Edit Button -->
    {% if current_user and achievement.created_by_id == current_user.id %}
      <div class="mr-1">
        <a href="{{ url_for('achievement_edit', achievement_id=achievement.id) }}">
          <button class="btn btn-warning">edit</button>
        </a>
      </div>
    {% endif %}

    <!-- Claim Button -->
    <div>
      <a href="{{ url_for('achievement_claim_confirmation', achievement_id=achievement.id) }}">
        <button class="btn btn-success">unlock</button>
      </a>
    </div>
  </div>

  <!-- Achievement Conditions -->
  <div class="d-flex text-secondary">
    {{ achievement.conditions }}
  </div>

  <!-- Linked Cards -->
  <div>
    <ul class="list-unstyled ml-4">
      {% for link in achievement.linked_cards %}
        <li>
          <a href="{{ url_for('card_editor', card_id=link.card.id) }}">
            <span class="text-info">{{ link.card.name() }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <hr>
{% endmacro %}

{% macro show_achievement_form(form) %}
  <div class="framed">
    <form action="{{ url_for('achievement_submit') }}" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ form.cube_id() }}
      {{ form.update_id() }}
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.conditions.label }}
        {{ form.conditions(class='form-control', rows=5) }}
      </div>
      {% for group in form.unlocks %}
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#unlockGroup{{ loop.index }}">Toggle {{ loop.index }}</button>
        <div class="
                    {% if not group['timing'].data %}
                    collapse
                    {% endif %}
                    " id="unlockGroup{{ loop.index }}">
          <div class="form-group">
            {{ group['timing'].label }}
            {{ group['timing'](class='form-control', rows=10) }}
          </div>
          <div class="form-group">
            {{ group['text'].label }}
            {{ group['text'](class='form-control', rows=10) }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col">
          <div class="form-group">
            {{ form.multiunlock() }}
            {{ form.multiunlock.label }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.update_as.label }}
            {{ form.update_as(class='form-control') }}
          </div>
        </div>
      </div>
      <p>{{ form.submit(class='btn btn-primary') }}</p>
    </form>
  </div>
{% endmacro %}

{% macro show_card_diff(card) %}
  {% set card = card|cube_cardify %}
  <ul class="list-unstyled mt-0">
    {% for face in [0, 1] %}
      {% for line in card.card_diff(face=face).summary() %}
        <li class="
                   {% if line.startswith('+ ') %}
                   text-success
                   {% elif line.startswith('- ') %}
                   text-danger
                   {% elif line.startswith('. ') %}
                   text-success
                   {% endif %}
                   "
        >{{ line }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro show_draft_card_list(cards, draft_id) %}
  <div class="row">
    {% for card in cards if card.pack.can_be_seen(card) %}
      {% set can_be_drafted = card.pack.can_be_drafted(card) %}
      {% set face_up_optional = card.cube_card.draft_face_up().name == 'optional' %}
      <div class="col framed card-frame">
        <!-- Card Image (and draft link) -->
        <p class="mb-0">
          <a
            {% if face_up_optional %}
              href="#draftFaceUpModal"
              data-toggle="modal"
              data-card-name="{{ card.cube_card.name() }}"
              data-card-id="{{ card.id }}"
            {% elif can_be_drafted %}
              href="/draft/{{draft_id}}/pick/{{card.id}}"
            {% endif %}
          >
          {% for image_url in card.cube_card.image_urls() %}
            <img
              style="max-width:200px
                     {% if not can_be_drafted %}
                     ;opacity:0.5
                     {% endif %}
                     "
              src="{{image_url}}"
              alt="{{card.cube_card.name()}}">
          {% endfor %}
          </a>
        </p>
        <!-- END: Card Image (and draft link) -->

        {{ show_card_diff(card) }}

        <!-- Linked Achievements -->
        {% if card.cube_card.linked_achs %}
          <div class="ml-1 text-muted text-xs">
            Linked Achievements
          </div>
        {% endif %}
        {% for link in card.cube_card.linked_achs %}
          <div class="linked-achievement text-secondary border-top">
            {{ link.achievement.conditions }}
          </div>
        {% endfor %}

        <!-- Add Scars Buttons -->
        {% if draft_id and card.pack.is_scarring_round %}
          {% for scar in card.pack.scar_options() %}
            <a class="btn btn-secondary add-scar-btn" href="{{ url_for('card_editor', card_id=card.cube_card.id, scar_id=scar.id) }}">
              Add Scar {{ loop.index }}
            </a>
          {% endfor %}
        {% endif %}
        <!-- END: Add Scars Buttons -->
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_card_list(cards) %}
  <div class="row ">
    {% for card in cards|sort(attribute='picked_at', reverse=True) %}
      {% set card = card|cube_cardify %}
      <div class="framed card-frame">
        <!-- Card Image (and draft link) -->
        <p>
          {% for image_url in card.image_urls() %}
            <img
              style="max-width:200px"
              src="{{image_url}}"
              alt="{{card.name()}}">
          {% endfor %}
        </p>
        <!-- END: Card Image (and draft link) -->

        {{ show_card_diff(card) }}

        <!-- Linked Achievements -->
        {% if card.linked_achs %}
          <div class="ml-1 text-muted text-xs">
            Linked Achievements
          </div>
        {% endif %}
        {% for link in card.linked_achs %}
          <div class="linked-achievement text-secondary border-top">
            {{ link.achievement.conditions }}
          </div>
        {% endfor %}

      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_card_list_cmc_breakdown(cards) %}
  <div class="row card-table">
    {% for i in [0,1,2,3,4,5,6,7] %}
      <div class="col" style="width:12.5%">

        <div class="table-section">
            {% for card in cards %}
              {% if card.cube_card.cmc() == i or (card.cube_card.cmc() > i and i == 7) %}
                <p
                  class="card-list-item"
                  data-front="{{ card.cube_card.image_front() }}"
                  {% if card.cube_card.image_back() %}
                    data-back="{{ card.cube_card.image_back() }}"
                  {% endif %}
                >
                  <a href="{{ url_for('draft_swap_sideboard', card_id=card.id) }}">
                    {{ card.cube_card.name() }}
                  </a>
                </p>
              {% endif %}
            {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_picks_breakdown_table(draft_wrapper) %}
  <div class="picks-breakdown-table">
    <div class="row card-table">
      {% for i in [0,1,2,3,4,5,6,7] %}
        <div class="col" style="width:12.5%">
          <div class="table-column-header">
            CMC = {{ i }}
          </div>
        </div>
      {% endfor %}
    </div>

    {% set num_maindeck = draft_wrapper.picks_creatures()|length + draft_wrapper.picks_non_creatures()|length %}
    <h6 class="mb-1">Main Deck ({{ num_maindeck }})</h6>
    {{ show_card_list_cmc_breakdown(draft_wrapper.picks_creatures()) }}
    {{ show_card_list_cmc_breakdown(draft_wrapper.picks_non_creatures()) }}

    {% set num_sideboard = draft_wrapper.picks_sideboard()|length %}
    <h6 class="mt-2 mb-1">Sideboard ({{ num_sideboard }})</h6>
    {{ show_card_list_cmc_breakdown(draft_wrapper.picks_sideboard()) }}
  </div>
{% endmacro %}
