{% macro show_achievement_form(form) %}
  <div class="bg-light border p-2">
    <form action="{{ url_for('achievement_submit') }}" method="post" novalidate>
      {{ form.hidden_tag() }}
      {{ form.cube_id() }}
      {{ form.update_id() }}
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class='form-control') }}
      </div>
      <div class="form-group">
        {{ form.conditions.label }}
        {{ form.conditions(class='form-control', rows=5) }}
      </div>
      {% for group in form.unlocks %}
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#unlockGroup{{ loop.index }}">Toggle {{ loop.index }}</button>
        <div class="collapse" id="unlockGroup{{ loop.index }}">
          <div class="form-group">
            {{ group['timing'].label }}
            {{ group['timing'](class='form-control', rows=10) }}
          </div>
          <div class="form-group">
            {{ group['text'].label }}
            {{ group['text'](class='form-control', rows=10) }}
          </div>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col">
          <div class="form-group">
            {{ form.multiunlock() }}
            {{ form.multiunlock.label }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            {{ form.update_as.label }}
            {{ form.update_as(class='form-control') }}
          </div>
        </div>
      </div>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endmacro %}

{% macro show_draft_card_list(cards, draft_id) %}
  <div class="row no-gutters">
    {% for card in cards if card.pack.can_be_seen(card) %}
      {% set can_be_drafted = card.pack.can_be_drafted(card) %}
      <div class="col border rounded border-secondary m-1 p-2 bg-light">
        <!-- Card Image (and draft link) -->
        <p class="mb-0">
          {% if can_be_drafted %}
            <a href="/draft/{{draft_id}}/pick/{{card.id}}">
          {% endif %}
          {% for image_url in card.cube_card.image_urls() %}
            <img
              style="max-width:200px
                     {% if not can_be_drafted %}
                     ;opacity:0.5
                     {% endif %}
                     "
              src="{{image_url}}"
              alt="{{card.cube_card.name()}}">
          {% endfor %}
          {% if can_be_drafted %}
            </a>
          {% endif %}
        </p>
        <!-- END: Card Image (and draft link) -->

        <!-- Scars -->
        <ul class="list-unstyled mt-0">
          {% for change, line in card.cube_card.scar_diff_flat() %}
            <li class="
                       {% if change == '+' %}
                       text-success
                       {% else %}
                       text-danger
                       {% endif %}
                       "
            >{{ change }} {{ line }}</li>
          {% endfor %}
        </ul>
        <!-- END: Scars -->

        <!-- Add Scars Buttons -->
        {% if draft_id and card.pack.is_scarring_round %}
          {% for scar in card.pack.scar_options() %}
            <a class="btn btn-secondary" href="{{ url_for('card_editor', card_id=card.cube_card.id, scar_id=scar.id) }}">
              Add Scar {{ loop.index }}
            </a>
          {% endfor %}
        {% endif %}
        <!-- END: Add Scars Buttons -->
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_card_list(cards) %}
  <div class="row no-gutters">
    {% for card in cards %}
      <div class="col border rounded border-secondary m-1 p-2 bg-light">
        <!-- Card Image (and draft link) -->
        <p>
          {% for image_url in card.cube_card.image_urls() %}
            <img
              style="max-width:200px"
              src="{{image_url}}"
              alt="{{card.cube_card.name()}}">
          {% endfor %}
        </p>
        <!-- END: Card Image (and draft link) -->

        <!-- Scarred Pill (and view link) -->
        {% if card.cube_card.is_scarred() %}
          <a class="btn btn-danger"
             href="{{ url_for('card_editor', card_id=card.cube_card.id, read_only='true') }}">
            Scarred
          </a>
        {% endif %}
        <!-- END: Scarred Pill (and view link) -->

      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% macro show_picked_card_names(seat) %}
  <div class="row">
    <div class="col">
      <h3>Legacy Card Names</h3>
      <ul class="list-unstyled">
        {% for card in seat.picks %}
          <li>{{ card.cube_card.cockatrice_name() }}</li>
        {% endfor %}
      </ul>
    </div>

    <div class="col">
      <h3>Standard Card Names</h3>
      <ul class="list-unstyled">
        {% for card in seat.picks %}
          <li>{{ card.cube_card.name() }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endmacro %}
