{% macro show_card_list(cards, draft_id) %}
  <div class="row no-gutters">
    {% for card in cards %}
      <div class="col border rounded border-secondary m-1 p-2 bg-light">
        <!-- Card Image (and draft link) -->
        <p>
          {% if draft_id %}
            <a href="/draft/{{draft_id}}/pick/{{card.id}}">
          {% endif %}
          {% for image_url in card.cube_card.image_urls() %}
            <img
              style="max-width:200px"
              src="{{image_url}}"
              alt="{{card.cube_card.name()}}">
          {% endfor %}
          {% if draft_id %}
            </a>
          {% endif %}
        </p>
        <!-- END: Card Image (and draft link) -->

        <!-- Scarred Pill (and view link) -->
        {% if card.cube_card.is_scarred() %}
          <a href="{{ url_for('card_editor', card_id=card.cube_card.id, read_only='true') }}">
            <button class="btn btn-danger">
              Scarred
            </button>
          </a>
        {% endif %}
        <!-- END: Scarred Pill (and view link) -->

        <!-- Add Scars Buttons -->
        {% if draft_id and card.pack.is_scarring_round %}
          {% for scar in card.pack.scar_options() %}
            <a class="btn btn-secondary" href="{{ url_for('card_editor', card_id=card.cube_card.id, scar_id=scar.id) }}">
              Add Scar {{ loop.index }}
            </a>
          {% endfor %}
        {% endif %}
        <!-- END: Add Scars Buttons -->
      </div>
    {% endfor %}
  </div>
{% endmacro %}
