{% from 'macros.html' import show_achievement %}


{% extends "base.html" %}


{% block title_suffix %}
  User - {{ user.name }}
{% endblock %}



{% block content %}
  <div class="row">
    <div class="col framed">
      <div id="edit-monikers">
        <a href="#edit-monikers-modal" data-toggle="modal">edit monikers</a>
      </div>

      <h1>{{ user.name }}</h1>
      <div id="monikers">
        {% if user.monikers %}
          <p>
            {{ ', '.join(user.monikers) }}
          </p>
        {% endif %}
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-4 p-0">
      <div class="framed">
        {% if user.portrait_link %}
          <img src="{{ user.portrait_link }}" alt="user portrait" style="width: 100%;">
        {% endif %}

        <div class="text-right">
          <a href="#edit-portrait-modal" data-toggle="modal">portrait</a>
        </div>

      </div>

      <div class="framed">
        <h5>Change Password</h5>
        <form action="{{ url_for('my_account_change_password') }}" method="post" novalidate>
          {{ pwform.hidden_tag() }}
          <div class="form-group">
            {{ pwform.old_password.label }}
            {{ pwform.old_password(class='form-control') }}
          </div>
          <div class="form-group">
            {{ pwform.new_password.label }}
            {{ pwform.new_password(class='form-control') }}
          </div>
          {{ pwform.submit(class='btn btn-primary') }}
        </form>
      </div>

      <div class="framed">
        <h5>Change User Details</h5>
        <form action="{{ url_for('my_account_change_details') }}" method="post" novalidate>
          {{ udform.hidden_tag() }}
          <div class="form-group">
            {{ udform.slack_id.label }} <em class="text-secondary">({{ user.slack_id }})</em>
            {{ udform.slack_id(class='form-control') }}
          </div>
          {{ udform.submit(class='btn btn-primary') }}
        </form>
      </div>

    </div>

    <div class="col-4">

      <div class="row">
        <div class="col framed">
          <h5>Drafts</h5>

          {% for draft in drafts %}
            <div class="framed">
              <h6>~{{ draft.name }}~</h6>
              {% set links = draft.achs(user.id) %}
              {% if links %}
                <p class="text-secondary border-bottom mb-0">Achievements</p>
                {% for link in links %}
                  {{ show_achievement(link.ach, None) }}
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row">
        <div class="col framed">
          <h5>Games</h5>

          <div>
            <p>Active Games</p>
            <ul class="list-unstyled ml-4 mt-3">
              {% for game in user.games_active() %}
                <li>
                  <a href="{{ url_for('game', game_id=game.id) }}">
                    {{ game.state.name }}
                  </a>

                  {% if game.is_my_turn(user) %}
                    <span class="badge badge-pill badge-warning">
                      <i class="fas fa-asterisk"></i>
                    </span>
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </div>

          <div>
            <p>Finished Games</p>
            <ul class="list-unstyled ml-4 mt-3">
              {% for game in user.games_recent() %}
                <li>
                  <a href="{{ url_for('game', game_id=game.id) }}">
                    {{ game.state.name }}
                  </a>

                  {% set result = game.state.result_for(current_user.id) %}
                  {% if result == 'win' %}
                    <span class="badge badge-pill badge-success">
                      <i class="fas fa-check"></i>
                    </span>
                  {% elif result == 'loss' %}
                    <span class="badge badge-pill badge-danger">
                      <i class="fas fa-times"></i>
                    </span>
                  {% elif result == 'draw' %}
                    <span class="badge badge-pill badge-warning">
                      &#x2014; <!-- em dash -->
                    </span>
                  {% else %}
                    ???
                  {% endif %}

                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Stat Modal -->
  <div id="stat-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h3>
            Update <span id="stat-update-name">XP</span>
          </h3>
        </div>

        <div class="modal-body">
          <input id="stat-update-value" type="text" class="form-control">
        </div>

        <div class="modal-footer">
          <a id="stat-update-submit" class="btn btn-primary">
            update
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- END: Stat Modal -->

  <!-- Monikers Modal -->
  <div class="modal fade" id="edit-monikers-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Monikers</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form
            action="{{ url_for('user_set_monikers', user_id=user.id) }}"
            method="post"
            novalidate>

            {{ moniker_form.hidden_tag() }}
            <div class="form-group">
              {{ moniker_form.monikers.label }}
              {{ moniker_form.monikers(class="form-control", rows=10) }}
            </div>
            <p>{{ moniker_form.submit(class="btn btn-primary") }}</p>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- END: Monikers Modal -->


  <!-- Portrait Modal -->
  <div class="modal fade" id="edit-portrait-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Portrait</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <form
            action="{{ url_for('user_set_portrait', user_id=user.id) }}"
            method="post"
            novalidate>

            {{ portrait_form.hidden_tag() }}
            <div class="form-group">
              {{ portrait_form.portrait.label }}
              {{ portrait_form.portrait(class="form-control", rows=10) }}
            </div>
            <p>{{ portrait_form.submit(class="btn btn-primary") }}</p>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!-- END: Portrait Modal -->

{% endblock content %}


{% block scripts %}
  <script>
   function stat_error(data) {
     $('#stat-modal')
       .find('.modal-body')
       .empty()
       .addClass('text-danger')
       .text('There was an error when trying to update this stat.')

     $('#stat-modal')
       .find('.modal-footer')
       .empty()
       .text(data)
   }

   $(document).ready(function() {
     $('.stat-value').click(function(event) {
       let stat = $(this)
       let stat_name = stat.data('stat').trim()
       let value = stat.text().trim()

       $('#stat-update-name').text(stat_name)
       $('#stat-update-value').val(value)
     })

     $('#stat-update-submit').click(function() {
       let stat_name = $('#stat-update-name').text().trim()
       let stat_value = $('#stat-update-value').val().trim()

       let data = {
         stat_name: stat_name,
         stat_value: stat_value,
       }

       $.ajax({
         type: "POST",
         url: "{{ url_for('user_update_stat', user_id=user.id) }}",
         data: JSON.stringify(data),
         contentType: "application/json; charset=utf-8",
         success: function (response) {
           if (response == 'success') {
             location.reload()
           }
           else {
             stat_error(response)
           }
         },
         error: function(response) {
           console.log(response)
           stat_error(response)
         }
       }) // end: ajax
     })

   })
  </script>
{% endblock %}
